.about-history {
  margin-bottom: 7.813vw;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 6vw;
  }

  &__title {
    margin: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.3vw;
  }
}

.history {
  display: flex;
  gap: 1.979vw;
}
.history-date {
  position: relative;
  top: 1.3vw;
  font-family: var(--font-family-Europe);
  font-weight: 700;
  font-size: 1.823vw;
  line-height: 1.823vw;
  color: transparent;
  -webkit-text-stroke: 0.379939px var(--light-color);
}
.history-content {
  position: relative;
  padding: 2.083vw 4.167vw;
  background-color: #121212;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: all 0.3s ease-out;
  .text-page {
    margin: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8vw;
    transform: translateY(-50%);
    width: 6.875vw;
    height: 1px;
    background-color: var(--light-color);
    opacity: 0.1;
  }
}
.history-decor {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: -1vw;
  transform: translateY(-50%);
  width: 2.24vw;
  height: 2.24vw;
  background-color: var(--bg-color);
  border-radius: 50%;
  transition: all 0.3s ease-out;
  span {
    display: block;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: var(--red-color);
  }
}

.history-pagination {
  display: none;
}

@include for-desktop {
  .history-content {
    &:hover {
      border: 1px solid var(--red-color);

      .history-decor {
        background-color: var(--red-color);
      }
    }
  }
}

@include tablet {
  .about-history {
    margin-bottom: 9.115vw;
    &__container {
      gap: 5.208vw;
    }

    &__wrapper {
      gap: 3.906vw;
    }

    .title-page {
      max-width: 40.104vw;
      span {
        bottom: 8vw;
      }
    }
  }

  .history {
    gap: 4.557vw;
    min-height: 26.042vw;
  }
  .history-date {
    top: 7vw;
    font-size: 3.906vw;
    line-height: 3.906vw;
    -webkit-text-stroke: 0.7px var(--light-color);
    opacity: 0.5;
  }
  .history-content {
    padding: 3.646vw 5.599vw;

    &::before {
      left: -16vw;
      width: 14.974vw;
    }
  }
  .history-decor {
    left: -2.5vw;
    width: 5.599vw;
    height: 5.599vw;
  }
}

@include mobile {
  .about-history {
    margin-bottom: 16vw;
    &__container {
      gap: 8vw;
    }

    &__items {
      display: flex;
      flex-direction: column;
      gap: 8vw;
      width: 100%;
    }

    &__wrapper {
      flex-direction: row;
      gap: 0;
    }

    .title-page {
      max-width: 40.104vw;
      span {
        bottom: 8vw;
      }
    }
  }

  .history {
    flex-direction: column;
    gap: 6.4vw;
    min-height: auto;
  }
  .history-date {
    position: static;
    font-size: 8vw;
    line-height: 8vw;
  }
  .history-content {
    display: flex;
    align-items: center;
    min-height: 53.333vw;
    padding: 8vw 5.333vw;
    border-radius: 2.667vw;

    &::before {
      display: none;
    }
  }
  .history-decor {
    top: 1vw;
    left: -3vw;
    width: 11.467vw;
    height: 11.467vw;
  }

  .history-pagination {
    display: flex;
    justify-content: space-between;
    gap: 4vw;
    .btn {
      width: 43vw;
    }

    .history-prev {
      svg {
        transform: rotate(90deg);
      }
    }
  }
}
