.activity {
  margin-bottom: 5.208vw;
  padding-top: 3vw;

  .activity-container {
    display: flex;
    flex-direction: column;
    gap: 1.042vw;
  }

  .title-page {
    margin: 0;
    h1 {
      text-transform: none;
      font-size: 3.906vw;
      line-height: 4.427vw;
    }
    span {
      text-transform: none;
      font-size: 4.3vw;
      line-height: 5.417vw;
    }
  }
}
.activity-tabs {
  position: relative;
  display: flex;
  gap: 1.042vw;
}

.activity-list {
  width: 50%;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.042vw;
  margin: 0;
}
.activity-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.302vw;
  width: 100%;
  background-color: #1c1c1c;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: all 0.3s ease-out;
  cursor: pointer;
  &__content {
    display: flex;
    align-items: center;
    gap: 1.042vw;
    pointer-events: none;
    span {
      font-family: var(--font-family-Europe);
      font-weight: 700;
      font-size: 3.125vw;
      line-height: 3.125vw;
      color: transparent;
      -webkit-text-stroke: 1px var(--light-color);
      transition: all 0.3s ease-out;
    }

    p {
      font-size: 1.042vw;
      line-height: 1.354vw;
    }
  }
}
.activity-content {
  width: 50%;
}
.activity-image {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 42.708vw;
  height: 100%;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.3s ease-out;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.tabs__panel--active {
  display: block;
  opacity: 1;
}

.tabs__nav-btn:focus {
  background-color: #1c1c1c;
}

.tabs__nav-btn--active {
  border: 1px solid var(--red-color);
  background-color: #1c1c1c;

  .activity-item__content {
    span {
      -webkit-text-stroke: 1px var(--red-color);
    }
  }
}

@include tablet {
  .activity {
    margin-bottom: 13.021vw;
    padding-top: 20vw;

    .activity-container {
      gap: 5.208vw;
    }

    .title-page {
      h1 {
        font-size: 7.161vw;
        line-height: 9.115vw;
      }
      span {
        font-size: 10.026vw;
        line-height: 11.328vw;
        bottom: 5vw;
      }
    }
  }
  .activity-tabs {
    gap: 1.042vw;
  }

  .activity-list {
    width: 100%;
    gap: 2.604vw;
  }
  .activity-item {
    padding: 4.297vw 3.255vw;
    &__content {
      gap: 2.604vw;
      span {
        font-size: 7.813vw;
        line-height: 7.813vw;
      }

      p {
        font-size: 2.604vw;
        line-height: 3.385vw;
      }
    }
  }
  .activity-content {
    display: none;
  }
}

@include mobile {
  .activity {
    margin-bottom: 18.667vw;
    padding-top: 25vw;

    .activity-container {
      gap: 8vw;
    }

    .title-page {
      h1 {
        font-size: 8vw;
        line-height: 9.333vw;
      }
      span {
        font-size: 11.2vw;
        line-height: 11.2vw;
        bottom: 5vw;
      }
    }
  }
  .activity-tabs {
    gap: 0;
  }

  .activity-list {
    gap: 4vw;
  }
  .activity-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 3.733vw 4.8vw;
    gap: 4.267vw;
    border-radius: 2.667vw;
    &__content {
      gap: 2.667vw;
      span {
        font-size: 12vw;
        line-height: 12vw;
      }

      p {
        font-size: 4.5vw;
        line-height: 5.867vw;
      }
    }
    .btn {
      text-align: center;
    }
  }
}
