.contacts {
  display: flex;
  flex-direction: column;
  gap: 5.208vw;
  padding-top: 2.688vw;
  margin-bottom: 5.208vw;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  gap: 4.688vw;

  .title-page {
    margin: 0;
  }
}

.contacts-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}
.contacts-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.521vw;

  &:not(:last-child) {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.06);
    }
  }

  &:first-child {
    &::after {
      right: 3vw;
    }
  }

  &:nth-child(2) {
    &::after {
      right: 5vw;
    }
  }

  &:nth-child(3) {
    &::after {
      right: 6vw;
    }
  }

  &__title {
    font-family: var(--font-family-Europe);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.396vw;
    line-height: 3.438vw;
  }

  &__info {
    display: flex;
    gap: 0.521vw;
    svg {
      width: 1.25vw;
      height: 1.25vw;
      fill: var(--red-color);
    }
    span {
      color: #bababa;
      font-size: 1.042vw;
      font-weight: 300;
      line-height: 1.458vw;
    }
  }
}

//contacts-feedback
.contacts-feedback {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5.729vw;

  .feedback {
    flex-shrink: 0;
    height: fit-content;
  }

  .contacts-map {
    display: flex;
    flex-direction: column;
    gap: 0.781vw;
  }

  .contacts-map__title {
    font-family: var(--font-family-Europe);
    font-weight: 400;
    font-size: 2.396vw;
    line-height: 2.438vw;
    text-transform: uppercase;
  }

  .contacts-map__link {
    position: relative;
    display: block;
    width: 42.5vw;
    height: fit-content;
    border-radius: 10px;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 13vw;
      left: 23.2vw;
      width: 2.5vw;
      height: 0.7vw;
      background-color: var(--red-color);
      border-radius: 50%;
      z-index: 1;
    }
  }

  .contacts-map__img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .contacts-map__marker {
    display: block;
    position: absolute;
    left: 23vw;
    width: 2.865vw;
    height: 4.167vw;
    animation: contacts-marker 1.6s linear infinite;
    z-index: 2;
  }

  @keyframes contacts-marker {
    0% {
      top: 8vw;
    }
    50% {
      top: 9vw;
    }
    100% {
      top: 8vw;
    }
  }
}

@include tablet {
  .contacts {
    gap: 9.115vw;
    padding-top: 20vw;
    margin-bottom: 9.115vw;
  }

  .contacts-container {
    gap: 11.719vw;
  }

  .contacts-items {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4vw;
    row-gap: 13.021vw;
  }
  .contacts-item {
    gap: 1.302vw;
    &::after {
      display: none;
    }

    &__title {
      font-size: 4.688vw;
      line-height: 8.594vw;
    }

    &__info {
      gap: 1.302vw;
      svg {
        transform: translateY(0.4vw);
        flex-shrink: 0;
        width: 3.125vw;
        height: 3.125vw;
      }
      span {
        font-size: 2.604vw;
        line-height: 3.646vw;
      }
    }
  }

  .contacts-anim {
    height: auto;
    width: 200vw;
  }

  //contacts-feedback
  .contacts-feedback {
    flex-direction: column;
    margin-bottom: 9.115vw;

    .custom-checkbox__content {
      display: flex;
      gap: 1vw;
    }

    .contacts-map {
      gap: 1.953vw;
    }

    .contacts-map__title {
      font-size: 4.688vw;
      line-height: 8.594vw;
    }

    .contacts-map__link {
      width: 100%;
      height: 65.885vw;
      &::after {
        left: 49.9vw;
        top: 33vw;
        width: 5.208vw;
        height: 1.563vw;
      }
    }

    .contacts-map__marker {
      left: 49vw;
      width: 7.031vw;
      height: 10.417vw;
    }

    @keyframes contacts-marker {
      0% {
        top: 22vw;
      }
      50% {
        top: 23vw;
      }
      100% {
        top: 22vw;
      }
    }
  }
}

@include mobile {
  .contacts {
    gap: 9.115vw;
    padding-top: 25vw;
    margin-bottom: 13.333vw;
  }

  .contacts-container {
    gap: 13.333vw;
    width: 100%;
  }

  .contacts-items {
    display: flex;
    flex-direction: column;
    column-gap: 0;
    row-gap: 0;
    gap: 8vw;
  }
  .contacts-item {
    gap: 2.667vw;

    &__title {
      font-size: 6.933vw;
      line-height: 6.933vw;
    }

    &__info {
      gap: 3vw;
      svg {
        transform: translateY(0.4vw);
        width: 6.4vw;
        height: 6.4vw;
      }
      span {
        font-size: 4.8vw;
        line-height: 6.933vw;
      }
    }
  }

  .contacts-anim {
    left: -73vw;
    width: 586.667vw;
    height: 50vw;
  }

  //contacts-feedback
  .contacts-feedback {
    margin-bottom: 18.667vw;
    gap: 13.333vw;

    .feedback {
      padding: 0;
    }

    .feedback-title {
      font-size: 6.933vw;
      line-height: 8vw;
      margin-bottom: 5.333vw;
    }

    .feedback-text {
      font-size: 4.267vw;
      line-height: 5.333vw;
      margin-bottom: 8vw;
    }

    .form__label {
      svg {
        left: 4vw;
        width: 5.6vw;
        height: 5.6vw;
      }
      &::after {
        left: 13vw;
      }
    }

    .form__input {
      font-size: 4.267vw;
      padding: 3.5vw 2.5vw 3.5vw 17vw;
      border-radius: 1.333vw;
      &::placeholder {
        font-size: 4.267vw;
        line-height: 7.467vw;
      }
    }

    .custom-checkbox {
      left: 0;
      margin: 0;

      &__content {
        display: block;
        font-size: 3.733vw;
        line-height: 5.867vw;
        padding-left: 10vw;
        br {
          display: none;
        }

        &::before {
          top: 0.156vw;
          width: 6vw;
          height: 6vw;
          border-radius: 0.4vw;
        }

        &::after {
          left: 1vw;
          top: 1.2vw;
          width: 4vw;
          height: 4vw;
          border-radius: 0.4vw;
        }
      }
    }

    .contacts-map {
      gap: 6.667vw;
    }

    .contacts-map__title {
      font-size: 6.933vw;
      line-height: 6.933vw;
    }

    .contacts-map__link {
      height: 65.6vw;
      &::after {
        left: 49.9vw;
        top: 33vw;
        width: 5.208vw;
        height: 1.563vw;
      }
    }

    .contacts-map__marker {
      left: 49vw;
      width: 6.933vw;
      height: 10.4vw;
    }

    @keyframes contacts-marker {
      0% {
        top: 22vw;
      }
      50% {
        top: 23vw;
      }
      100% {
        top: 22vw;
      }
    }
  }
}
