.mission {
  position: relative;
  padding-top: 3.1vw;
  margin-bottom: 7vw;

  .about-company__anim {
    display: none;
  }
}

.mission-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  .title-page {
    margin-bottom: 1.3vw;
  }
}

.mission-text {
  max-width: 49.5vw;
  margin-bottom: 2.604vw;
}
.mission-img {
  width: 100%;
  height: 16vw;
  margin-bottom: 2.083vw;
  border-radius: 10px;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.mission-anim {
  position: absolute;
  top: -7vw;
  right: 0;
  width: 41.667vw;
  height: 25vw;
}

@include tablet {
  .mission {
    padding-top: 20vw;
    margin-bottom: 10.417vw;

    .hero-title {
      span {
        white-space: nowrap;
      }
    }

    .main-scroll {
      display: block;
      bottom: 0;
    }
  }

  .mission-container {
    .title-page {
      margin-bottom: 3.906vw;
    }
  }

  .mission-text {
    max-width: 100%;
    margin-bottom: 6.51vw;
  }
  .mission-img {
    height: 45.833vw;
    margin-bottom: 6.51vw;
  }

  .mission-anim {
    display: none;
  }
}

@include mobile {
  .mission {
    padding-top: 25vw;
    margin-bottom: 10.417vw;

    .main-scroll {
      display: none;
    }

    .about-company__anim {
      display: block;
      position: relative;
      top: 0;
      left: -73vw;
      width: 586.667vw;
      height: 50vw;
      margin-top: 10vw;
    }
  }

  .mission-container {
    .title-page {
      margin-bottom: 8vw;
    }
  }

  .mission-text {
    margin-bottom: 6.667vw;
  }
  .mission-img {
    height: 93.867vw;
    margin-bottom: 6.51vw;
    border-radius: 2.667vw;
  }
}
