.graph-modal {
  background: rgba(0, 0, 0, 0.46);
  backdrop-filter: blur(5px);

  .feedback {
    padding: 0;
  }
}

.graph-modal__container {
  background-color: #181818;
  padding: 3.125vw 4.167vw;
  width: auto;
}

.graph-modal__close {
  top: 1.563vw;
  right: 1.563vw;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-size: 0.781vw 0.781vw;
  background-position: center;
  border: 1px solid #3a3a3e;
  padding: 0.938vw;
  border-radius: 6px;
}

.modal-success {
  width: 43.75vw;
  height: 35vw;

  &__anim {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  h2 {
    text-transform: uppercase;
    text-align: left;
    font-family: var(--font-family-Europe);
    font-weight: 400;
    font-size: 2.396vw;
    line-height: 3.438vw;
    margin-bottom: 0.521vw;
  }

  p {
    font-weight: 300;
    font-size: 1.042vw;
    line-height: 1.563vw;
    margin-bottom: 4.896vw;
    opacity: 0.7;
  }
  .btn {
    text-align: center;
    width: 100%;
    background-color: #121212;
    svg {
      transform: translateY(-50%) rotate(90deg);
    }
  }
}

@include tablet {
  .graph-modal {
    width: 100%;
    backdrop-filter: blur(5px);
  }

  .graph-modal__container {
    padding: 11.198vw 3.906vw 7.813vw;
    width: 100%;
    max-width: 91.563vw;
  }

  .graph-modal__close {
    top: 3vw;
    right: 3vw;
    background-size: 3.733vw 3.733vw;
    padding: 4vw;
    border-radius: 6px;
  }

  .modal-success {
    width: 100%;
    height: 78.125vw;
  }

  .modal-content {
    h2 {
      font-size: 5.99vw;
      line-height: 8.594vw;
      margin-bottom: 1.302vw;
    }

    p {
      font-size: 2.604vw;
      line-height: 3.906vw;
      margin-bottom: 10.417vw;
    }
  }
}

@include mobile {
  .graph-modal {
    .feedback-title {
      font-size: 6.933vw;
      line-height: 8vw;
      margin-bottom: 2.667vw;
    }

    .feedback-text {
      font-size: 4.267vw;
      line-height: 5.333vw;
      margin-bottom: 4vw;
    }

    .form {
      gap: 4vw;
    }

    .form__label {
      svg {
        left: 4vw;
        width: 5.6vw;
        height: 5.6vw;
      }
      &::after {
        left: 13vw;
      }
    }

    .form__input {
      font-size: 4.267vw;
      padding: 3.5vw 2.5vw 3.5vw 17vw;
      border-radius: 1.333vw;
      &::placeholder {
        font-size: 4.267vw;
        line-height: 7.467vw;
      }
    }

    .custom-checkbox {
      left: 0;

      &__content {
        font-size: 3.733vw;
        line-height: 5.867vw;
        padding-left: 10vw;
        br {
          display: none;
        }

        &::before {
          top: 0.156vw;
          width: 6vw;
          height: 6vw;
          border-radius: 0.4vw;
        }

        &::after {
          left: 1vw;
          top: 1.2vw;
          width: 4vw;
          height: 4vw;
          border-radius: 0.4vw;
        }
      }
    }
  }

  .graph-modal__container {
    padding: 20vw 4vw 11vw;
    max-width: 90vw;
  }

  .modal-success {
    height: 112.267vw;
  }

  .modal-content {
    h2 {
      font-size: 6.933vw;
      line-height: 8vw;
      margin-bottom: 4vw;
    }

    p {
      font-size: 4.267vw;
      line-height: 6.933vw;
      margin-bottom: 16vw;
    }
  }
}
