.news {
  position: relative;
  background-color: var(--black-color);
  width: 100%;
  height: 100%;
}
.news-anim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.news-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2.604vw;
  width: 100%;
  height: 100%;
  padding: 7vw 0 6vw;
  z-index: 1;

  .btn--primary {
    background-color: var(--black-color);
  }
}

.news-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news-title {
  font-family: var(--font-family-Europe);
  font-weight: 400;
  font-size: 3.906vw;
  line-height: 4.427vw;
}
.news-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.042vw;
}

.news-column {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 29.844vw;
  padding: 1.823vw 1.302vw;
  background-color: var(--black-color);
  border: 1px solid #292929;
  border-radius: 8.006px;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  transition: all 0.3s ease-in;
  overflow: hidden;
  &:hover {
    border-color: var(--light-color);
    .news-card__img {
      opacity: 0.2;
    }
  }
}

.news-card {
  display: flex;
  height: 100%;
  flex-direction: column;
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    opacity: 0;
    transition: all 0.3s ease-in;
  }

  &__date {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    font-weight: 300;
    font-size: 0.833vw;
    line-height: 1.563vw;
    opacity: 0.7;
    z-index: 1;
  }

  &__title {
    position: relative;
    margin-bottom: 1.563vw;
    font-size: 1.563vw;
    line-height: 1.823vw;
    z-index: 1;
  }

  &__text {
    position: relative;
    margin-bottom: 1.302vw;
    font-weight: 300;
    font-size: 1.042vw;
    line-height: 1.563vw;
    opacity: 0.7;
    z-index: 1;
  }

  &__btn {
    margin-left: auto;
    @include for-desktop {
      &:hover {
        background-color: var(--gray-color);
      }
    }
  }
}

@include tablet {
  .news-container {
    gap: 7.813vw;
    padding: 12.24vw 0 10.677vw;
  }

  .news-anim {
    width: 250vw;
  }

  .news-title {
    font-size: 7.161vw;
    line-height: 9.115vw;
  }
  .news-cards {
    display: flex;
    flex-direction: column;
    gap: 4.427vw;
  }

  .news-column {
    min-height: 74.609vw;
    padding: 4.557vw 3.255vw;
    border: 3px solid #292929;
    border-radius: 1.042vw;
    &:nth-child(n + 2) {
      display: none;
    }
  }

  .news-card {
    height: auto;
    &__date {
      font-size: 2.083vw;
      line-height: 3.906vw;
    }

    &__title {
      margin-bottom: 8.464vw;
      font-size: 3.906vw;
      line-height: 4.557vw;
    }

    &__text {
      margin-bottom: 7.161vw;
      font-size: 2.604vw;
      line-height: 3.906vw;
    }
  }
}

@include mobile {
  .news-container {
    gap: 7.813vw;
    padding: 13.333vw 0;
  }

  .news-top {
    align-items: flex-start;
    flex-direction: column;
    gap: 8vw;
  }

  .news-anim {
    width: 473vw;
  }

  .news-title {
    font-size: 7.161vw;
    line-height: 9.115vw;
  }
  .news-cards {
    gap: 8vw;
  }

  .news-column {
    min-height: auto;
    padding: 6.667vw 4vw;
    border: 3px solid #292929;
    border-radius: 2.133vw;
  }

  .news-card {
    &__date {
      font-size: 4.267vw;
      line-height: 8vw;
      margin-bottom: 8vw;
    }

    &__title {
      margin-bottom: 5.333vw;
      font-size: 6.4vw;
      line-height: 8vw;
    }

    &__text {
      margin-bottom: 7vw;
      font-size: 4.267vw;
      line-height: 6.933vw;
    }
  }
}
