.press-center {
  padding-top: 2.688vw;
  margin-bottom: 5.208vw;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 4.688vw;
  }

  .title-page {
    margin: 0;
  }

  .pagination {
    display: block;
    padding-top: 2.604vw;
  }
}

@include tablet {
  .press-center {
    padding-top: 20vw;
    margin-bottom: 9.115vw;

    &__container {
      gap: 4.688vw;
    }

    .news-column:nth-child(n + 2) {
      display: flex;
    }

    .pagination {
      padding-top: 2.604vw;
    }
  }
}

@include mobile {
  .press-center {
    padding-top: 25vw;
    margin-bottom: 18.667vw;

    &__container {
      gap: 4vw;
    }

    .pagination {
      padding-top: 8vw;
    }
  }
}
