/* stylelint-disable */

@mixin custom-checkbox {
  position: relative;

  &__field {
    appearance: none;
    position: absolute;
  }

  &__content {
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid var(--gray-color);
      border-radius: 3px;
      width: 19px;
      height: 19px;
      box-sizing: border-box;
    }

    &::after {
      content: "";
      position: absolute;
      left: 4px;
      top: 4px;
      width: 11px;
      height: 11px;
      box-sizing: border-box;
      background-color: var(--red-color);
      border-radius: 2px;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}
