<section class="about main-shadow" id="about">
  <div class="about-container">
    <div class="about-content">
      <div class="title-page about-title">
        <h2>О компании</h2>
        <span>О компании</span>
      </div>
      <p class="text-page about-text">
        Компания КТТ работает на рынке более 20 лет. Основные сферы деятельности
        компании включают в себя продажу нефтепродуктов на внутреннем и
        зарубежном рынках, продажу и поставку бункерного топлива, предоставление
        транспортно-экспедиторских услуг.
      </p>
      <button class="btn btn-reset btn--primary">
        <svg
          width="12"
          height="13"
          viewBox="0 0 12 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M10.5005 6.20781L5.74171 10.2366L0.982924 6.20781L0.0146637 7.35152L5.25758 11.7902L5.74171 12.2L6.22584 11.7902L11.4688 7.35152L10.5005 6.20781ZM10.4829 0.800781L5.72412 4.82956L5.40973 4.56341L3.64221 3.0671C2.3507 1.97378 1.03995 0.864219 0.967493 0.803063L0.000926971 1.9482C0.072278 2.00843 1.38149 3.11668 2.67399 4.21084L4.44149 5.70713L5.02075 6.19752L5.18274 6.33465L5.22538 6.37075L5.23631 6.38L5.23908 6.38234L5.23977 6.38293L5.23995 6.38308L5.72413 5.81127L5.24001 6.38313L5.72413 6.79298L6.20826 6.38312L11.4512 1.94449L10.4829 0.800781Z"
            fill="#FF2D2D"
          />
        </svg>
        <span>Подробнее</span>
      </button>
    </div>

    <div class="about-images animation-images" data-da=".about-content,600,2">
      <picture>
        <source srcset="img/about-off.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/about-off.png"
          class="image about-img--off animation-img--off"
          alt="Image off"
        />
      </picture>

      <picture>
        <source srcset="img/about-on.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/about-on.png"
          class="image about-img--on animation-img--on"
          alt="Image on"
        />
      </picture>
    </div>
  </div>

  <?xml version="1.0" standalone="no"?>
  <svg
    class="about-horizontal__anim"
    id="Horizontallight Line"
    viewBox="0 0 1015 211"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_685_5122)">
      <line
        x1="990"
        y1="60.5"
        x2="-1.03706e-07"
        y2="60.5"
        stroke="#2F2F2F"
        stroke-dasharray="0,0,0,0,0,990"
      >
        <animate
          attributeType="XML"
          attributeName="stroke-dasharray"
          repeatCount="indefinite"
          dur="2.296348407901308s"
          values="0,0,0,0,0,990; 0,0,0,495,495,0; 0,0,247.5,742.5,0,0; 0,495,0,495,0,0"
          keyTimes="0; 0.5; 0.75; 1"
          begin="0.25037852123278914s"
        ></animate>
      </line>
      <line
        x1="1015"
        y1="210.5"
        x2="26"
        y2="210.5"
        stroke="#2F2F2F"
        stroke-dasharray="0,0,0,0,0,989"
      >
        <animate
          attributeType="XML"
          attributeName="stroke-dasharray"
          repeatCount="indefinite"
          dur="2.0717285691493017s"
          values="0,0,0,0,0,989; 0,0,0,494.5,494.5,0; 0,0,247.25,741.75,0,0; 0,494.5,0,494.5,0,0"
          keyTimes="0; 0.5; 0.75; 1"
          begin="0.3368401701863546s"
        ></animate>
      </line>
      <line
        x1="990"
        y1="40.5"
        x2="-1.03706e-07"
        y2="40.5"
        stroke="#2F2F2F"
        stroke-dasharray="0,0,0,0,0,990"
      >
        <animate
          attributeType="XML"
          attributeName="stroke-dasharray"
          repeatCount="indefinite"
          dur="2.441603202630094s"
          values="0,0,0,0,0,990; 0,0,0,495,495,0; 0,0,247.5,742.5,0,0; 0,495,0,495,0,0"
          keyTimes="0; 0.5; 0.75; 1"
          begin="1.060186247921931s"
        ></animate>
      </line>
      <line
        x1="997"
        y1="190.5"
        x2="7"
        y2="190.5"
        stroke="#2F2F2F"
        stroke-dasharray="0,0,0,0,0,990"
      >
        <animate
          attributeType="XML"
          attributeName="stroke-dasharray"
          repeatCount="indefinite"
          dur="2.095794377771985s"
          values="0,0,0,0,0,990; 0,0,0,495,495,0; 0,0,247.5,742.5,0,0; 0,495,0,495,0,0"
          keyTimes="0; 0.5; 0.75; 1"
          begin="0.7385932039163069s"
        ></animate>
      </line>
      <line
        x1="997"
        y1="20.5"
        x2="7"
        y2="20.5"
        stroke="#2F2F2F"
        stroke-dasharray="0,0,0,0,0,990"
      >
        <animate
          attributeType="XML"
          attributeName="stroke-dasharray"
          repeatCount="indefinite"
          dur="2.091138541170925s"
          values="0,0,0,0,0,990; 0,0,0,495,495,0; 0,0,247.5,742.5,0,0; 0,495,0,495,0,0"
          keyTimes="0; 0.5; 0.75; 1"
          begin="1.029503294626266s"
        ></animate>
      </line>
      <line
        x1="990"
        y1="170.5"
        x2="-1.03706e-07"
        y2="170.5"
        stroke="#2F2F2F"
        stroke-dasharray="0,0,0,0,0,990"
      >
        <animate
          attributeType="XML"
          attributeName="stroke-dasharray"
          repeatCount="indefinite"
          dur="2.1466402608695083s"
          values="0,0,0,0,0,990; 0,0,0,495,495,0; 0,0,247.5,742.5,0,0; 0,495,0,495,0,0"
          keyTimes="0; 0.5; 0.75; 1"
          begin="0.3118450971661677s"
        ></animate>
      </line>
      <line
        x1="1015"
        y1="0.5"
        x2="26"
        y2="0.499963"
        stroke="#2F2F2F"
        stroke-dasharray="0,0,0,0,0,989"
      >
        <animate
          attributeType="XML"
          attributeName="stroke-dasharray"
          repeatCount="indefinite"
          dur="2.3421238536458944s"
          values="0,0,0,0,0,989; 0,0,0,494.5,494.5,0; 0,0,247.25,741.75,0,0; 0,494.5,0,494.5,0,0"
          keyTimes="0; 0.5; 0.75; 1"
          begin="0.2033413374607642s"
        ></animate>
      </line>
      <line
        x1="990"
        y1="150.5"
        x2="-1.03706e-07"
        y2="150.5"
        stroke="#2F2F2F"
        stroke-dasharray="0,0,0,0,0,990"
      >
        <animate
          attributeType="XML"
          attributeName="stroke-dasharray"
          repeatCount="indefinite"
          dur="2.222853099497151s"
          values="0,0,0,0,0,990; 0,0,0,495,495,0; 0,0,247.5,742.5,0,0; 0,495,0,495,0,0"
          keyTimes="0; 0.5; 0.75; 1"
          begin="0.04937135063244271s"
        ></animate>
      </line>
    </g>
    <defs>
      <clipPath id="clip0_685_5122">
        <rect
          width="211"
          height="1015"
          fill="white"
          transform="translate(1015) rotate(90)"
          stroke-dasharray="0,0,0,0,0,2452"
        >
          <animate
            attributeType="XML"
            attributeName="stroke-dasharray"
            repeatCount="indefinite"
            dur="2.2759530135615997s"
            values="0,0,0,0,0,2452; 0,0,0,1226,1226,0; 0,0,613,1839,0,0; 0,1226,0,1226,0,0"
            keyTimes="0; 0.5; 0.75; 1"
            begin="0.9723084683863482s"
          ></animate>
        </rect>
      </clipPath>
    </defs>
    <setting>
      {"type":"shift","speed":20,"random":0.8,"shift":0.5,"size":1,"rupture":50}
    </setting>
  </svg>
</section>
