<section class="work bunkering">
  <div class="work-wrapper">
    <div class="work-container container">
      <div class="work-top">
        <div class="work-content">
          <h1 class="work-title">
            Бункеровка <br />
            судов
          </h1>
          <div class="work-text">
            <p>
              КТТ развивает направление бункеровки судов, заходящих в Большой
              порт Санкт-Петербург под погрузку, с 2017 года. Компания является
              физическим поставщиком всех грейдов бункерного топлива
              производства ведущих НПЗ России. Кроме того, партнерские отношения
              с крупными баржинговыми операторами позволяют КТТ быть гибкими при
              выборе оптимального бункеровщика для исполнения любой заявки в
              любое время. Для дополнительного удобства клиентов компания КТТ
              работает в том числе как трейдер, привлекая для поставки
              бункерного топлива ведущие бункеровочные компании
              Санкт-Петербурга.
            </p>
          </div>

          <button
            class="btn btn-reset btn--primary"
            data-graph-path="modal"
            data-graph-animation="fadeInUp"
          >
            <svg
              width="12"
              height="13"
              viewBox="0 0 12 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M10.5005 6.20781L5.74171 10.2366L0.982924 6.20781L0.0146637 7.35152L5.25758 11.7902L5.74171 12.2L6.22584 11.7902L11.4688 7.35152L10.5005 6.20781ZM10.4829 0.800781L5.72412 4.82956L5.40973 4.56341L3.64221 3.0671C2.3507 1.97378 1.03995 0.864219 0.967493 0.803063L0.000926971 1.9482C0.072278 2.00843 1.38149 3.11668 2.67399 4.21084L4.44149 5.70713L5.02075 6.19752L5.18274 6.33465L5.22538 6.37075L5.23631 6.38L5.23908 6.38234L5.23977 6.38293L5.23995 6.38308L5.72413 5.81127L5.24001 6.38313L5.72413 6.79298L6.20826 6.38312L11.4512 1.94449L10.4829 0.800781Z"
                fill="#FF2D2D"
              />
            </svg>
            <span>Оставить заявку</span>
          </button>
        </div>

        <div class="work-images animation-images">
          <picture>
            <source srcset="img/ship-off.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/ship-off.png"
              class="image work-img--off animation-img--off"
              alt="Image off"
            />
          </picture>

          <picture>
            <source srcset="img/ship-on.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/ship-on.png"
              class="image work-img--on animation-img--on"
              alt="Image on"
            />
          </picture>
          <?xml version="1.0" standalone="no"?>
          <svg
            class="work-anim"
            id="Frame1000001878-animate-svg"
            viewBox="0 0 821 662"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M820.501 575.337H95.2949C90.5606 575.337 86.7227 571.499 86.7227 566.765V95.2948C86.7227 90.5605 90.5606 86.7227 95.2948 86.7227H811.5"
              stroke="#DE1829"
              stroke-width="1.71444"
              stroke-dasharray="0,0,0,0,0,1939.8153076171875"
            >
              <animate
                attributeType="XML"
                attributeName="stroke-dasharray"
                repeatCount="indefinite"
                dur="6.0053238910178175s"
                values="0,0,0,0,0,1939.8153076171875; 0,0,0,969.9076538085938,969.9076538085938,0; 0,0,484.9538269042969,1454.8614807128906,0,0; 0,969.9076538085938,0,969.9076538085938,0,0"
                keyTimes="0; 0.5; 0.75; 1"
                begin="2.975748806678317s"
              ></animate>
            </path>
            <path
              d="M820.501 592.481H78.1504C73.4161 592.481 69.5781 588.643 69.5781 583.909V78.1503C69.5781 73.416 73.416 69.5781 78.1503 69.5781H811.5"
              stroke="#2F2F2F"
              stroke-width="1.71444"
              stroke-dasharray="0,0,0,0,0,2008.39306640625"
            >
              <animate
                attributeType="XML"
                attributeName="stroke-dasharray"
                repeatCount="indefinite"
                dur="5.607140754618131s"
                values="0,0,0,0,0,2008.39306640625; 0,0,0,1004.196533203125,1004.196533203125,0; 0,0,502.0982666015625,1506.2947998046875,0,0; 0,1004.196533203125,0,1004.196533203125,0,0"
                keyTimes="0; 0.5; 0.75; 1"
                begin="2.3925986395798833s"
              ></animate>
            </path>
            <path
              d="M820.501 609.625H61.0058C56.2715 609.625 52.4336 605.787 52.4336 601.053V61.0058C52.4336 56.2715 56.2715 52.4336 61.0058 52.4336H811.5"
              stroke="#DE1829"
              stroke-width="1.71444"
              stroke-dasharray="0,0,0,0,0,2076.970458984375"
            >
              <animate
                attributeType="XML"
                attributeName="stroke-dasharray"
                repeatCount="indefinite"
                dur="5.322548143874027s"
                values="0,0,0,0,0,2076.970458984375; 0,0,0,1038.4852294921875,1038.4852294921875,0; 0,0,519.2426147460938,1557.7278442382812,0,0; 0,1038.4852294921875,0,1038.4852294921875,0,0"
                keyTimes="0; 0.5; 0.75; 1"
                begin="2.4113176347087664s"
              ></animate>
            </path>
            <path
              d="M820.501 626.769H43.8613C39.127 626.769 35.2891 622.931 35.2891 618.197V43.8613C35.2891 39.127 39.127 35.2891 43.8612 35.2891H811.5"
              stroke="#DE1829"
              stroke-width="1.71444"
              stroke-dasharray="0,0,0,0,0,2145.548095703125"
            >
              <animate
                attributeType="XML"
                attributeName="stroke-dasharray"
                repeatCount="indefinite"
                dur="5.05144465063573s"
                values="0,0,0,0,0,2145.548095703125; 0,0,0,1072.7740478515625,1072.7740478515625,0; 0,0,536.3870239257812,1609.1610717773438,0,0; 0,1072.7740478515625,0,1072.7740478515625,0,0"
                keyTimes="0; 0.5; 0.75; 1"
                begin="0.11104972398549373s"
              ></animate>
            </path>
            <path
              d="M820.5 643.914H26.7167C21.9824 643.914 18.1445 640.076 18.1445 635.341V26.7167C18.1445 21.9824 21.9824 18.1445 26.7167 18.1445H811.5"
              stroke="#2F2F2F"
              stroke-width="1.71444"
              stroke-dasharray="0,0,0,0,0,2214.1259765625"
            >
              <animate
                attributeType="XML"
                attributeName="stroke-dasharray"
                repeatCount="indefinite"
                dur="5.149680873219781s"
                values="0,0,0,0,0,2214.1259765625; 0,0,0,1107.06298828125,1107.06298828125,0; 0,0,553.531494140625,1660.594482421875,0,0; 0,1107.06298828125,0,1107.06298828125,0,0"
                keyTimes="0; 0.5; 0.75; 1"
                begin="1.133436892539006s"
              ></animate>
            </path>
            <path
              d="M803.356 661.058H9.57219C4.83791 661.058 1 657.22 1 652.486V9.57218C1 4.8379 4.83789 1 9.57218 1H802.927"
              stroke="#DE1829"
              stroke-width="1.71444"
              stroke-dasharray="0,0,0,0,0,2256.986328125"
            >
              <animate
                attributeType="XML"
                attributeName="stroke-dasharray"
                repeatCount="indefinite"
                dur="6.234783069695622s"
                values="0,0,0,0,0,2256.986328125; 0,0,0,1128.4931640625,1128.4931640625,0; 0,0,564.24658203125,1692.73974609375,0,0; 0,1128.4931640625,0,1128.4931640625,0,0"
                keyTimes="0; 0.5; 0.75; 1"
                begin="2.8854137625781067s"
              ></animate>
            </path>
            <setting>
              {"type":"shift","speed":8,"random":0.8,"shift":0.5,"size":1,"rupture":50}
            </setting>
          </svg>
        </div>
      </div>

      <div class="work-count count">
        <h3 class="count-title">Показатели:</h3>
        <div class="count-items">
          <div class="count-item visually-hidden">
            <div class="count-num count-num--one">
              <span data-count-one="1200">000</span>
            </div>
            <p class="count-text">
              Тонн объем продаж нефтепродуктов на внутренний рынок в год
            </p>
          </div>

          <div class="count-item visually-hidden">
            <div class="count-num count-num--second">
              <span data-count-second="240">000</span>+
            </div>
            <p class="count-text">Сделок за 2021 год</p>
          </div>

          <div class="count-item visually-hidden">
            <div class="count-num count-num--third">
              ТОП-<span data-count-third="5">0</span>
            </div>
            <p class="count-text">ТОП-5 поставщиков на внутреннем рынке</p>
          </div>

          <div class="count-item">
            <div class="count-num count-num--fourth">
              x<span data-count-fourth="5">0</span>
            </div>
            <p class="count-text">
              2 раза рост поставок на внутренний рынок с 2020 года
            </p>
          </div>
        </div>
      </div>
    </div>

    <?xml version="1.0" standalone="no"?>
    <svg
      class="work-anim__horizontal"
      id="Frame1000001871-animate-svg"
      viewBox="0 0 1920 100"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_742_5333)">
        <line
          y1="99"
          x2="1920"
          y2="99"
          stroke="#DE1829"
          stroke-width="2"
          stroke-dasharray="0,0,0,0,0,1920"
        >
          <animate
            attributeType="XML"
            attributeName="stroke-dasharray"
            repeatCount="indefinite"
            dur="2.1575046264292923s"
            values="0,0,0,0,0,1920; 0,0,0,960,960,0; 0,0,480,1440,0,0; 0,960,0,960,0,0"
            keyTimes="0; 0.5; 0.75; 1"
            begin="0.6902745632163076s"
          ></animate>
        </line>
        <line
          y1="79"
          x2="1920"
          y2="79"
          stroke="#2F2F2F"
          stroke-width="2"
          stroke-dasharray="0,0,0,0,0,1920"
        >
          <animate
            attributeType="XML"
            attributeName="stroke-dasharray"
            repeatCount="indefinite"
            dur="2.0472878554092957s"
            values="0,0,0,0,0,1920; 0,0,0,960,960,0; 0,0,480,1440,0,0; 0,960,0,960,0,0"
            keyTimes="0; 0.5; 0.75; 1"
            begin="0.35518051064454775s"
          ></animate>
        </line>
        <line
          y1="59"
          x2="1920"
          y2="59"
          stroke="#2F2F2F"
          stroke-width="2"
          stroke-dasharray="0,0,0,0,0,1920"
        >
          <animate
            attributeType="XML"
            attributeName="stroke-dasharray"
            repeatCount="indefinite"
            dur="2.3071494031235313s"
            values="0,0,0,0,0,1920; 0,0,0,960,960,0; 0,0,480,1440,0,0; 0,960,0,960,0,0"
            keyTimes="0; 0.5; 0.75; 1"
            begin="0.03750344298381029s"
          ></animate>
        </line>
        <line
          y1="39"
          x2="1920"
          y2="39"
          stroke="#DE1829"
          stroke-width="2"
          stroke-dasharray="0,0,0,0,0,1920"
        >
          <animate
            attributeType="XML"
            attributeName="stroke-dasharray"
            repeatCount="indefinite"
            dur="2.3405387000991413s"
            values="0,0,0,0,0,1920; 0,0,0,960,960,0; 0,0,480,1440,0,0; 0,960,0,960,0,0"
            keyTimes="0; 0.5; 0.75; 1"
            begin="0.5229242079240477s"
          ></animate>
        </line>
        <line
          y1="19"
          x2="1920"
          y2="19"
          stroke="#2F2F2F"
          stroke-width="2"
          stroke-dasharray="0,0,0,0,0,1920"
        >
          <animate
            attributeType="XML"
            attributeName="stroke-dasharray"
            repeatCount="indefinite"
            dur="2.2267968667061493s"
            values="0,0,0,0,0,1920; 0,0,0,960,960,0; 0,0,480,1440,0,0; 0,960,0,960,0,0"
            keyTimes="0; 0.5; 0.75; 1"
            begin="1.1037070118998362s"
          ></animate>
        </line>
      </g>
      <defs>
        <clipPath id="clip0_742_5333">
          <rect
            width="1920"
            height="100"
            fill="white"
            stroke-dasharray="0,0,0,0,0,4040"
          >
            <animate
              attributeType="XML"
              attributeName="stroke-dasharray"
              repeatCount="indefinite"
              dur="1.9677070436667152s"
              values="0,0,0,0,0,4040; 0,0,0,2020,2020,0; 0,0,1010,3030,0,0; 0,2020,0,2020,0,0"
              keyTimes="0; 0.5; 0.75; 1"
              begin="0.27564793928806014s"
            ></animate>
          </rect>
        </clipPath>
      </defs>
      <setting>
        {"type":"shift","speed":21,"random":0.8,"shift":0.5,"size":1,"rupture":50}
      </setting>
    </svg>
  </div>

  <div class="activity-container container">
    <div class="title-page hero-title">
      <h2>Направления Деятельности</h2>
    </div>
    <div class="activity-tabs tabs" data-tabs="activity">
      <ul class="activity-list tabs__nav">
        <li class="activity-item tabs__nav-btn">
          <div class="activity-item__content">
            <span>01</span>
            <p>
              Поставка нефтепродуктов <br />
              на внутреннем рынке
            </p>
          </div>
          <a href="page-supply.html#0" class="btn btn-reset btn--primary">
            <svg
              width="12"
              height="13"
              viewBox="0 0 12 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M10.5005 6.20781L5.74171 10.2366L0.982924 6.20781L0.0146637 7.35152L5.25758 11.7902L5.74171 12.2L6.22584 11.7902L11.4688 7.35152L10.5005 6.20781ZM10.4829 0.800781L5.72412 4.82956L5.40973 4.56341L3.64221 3.0671C2.3507 1.97378 1.03995 0.864219 0.967493 0.803063L0.000926971 1.9482C0.072278 2.00843 1.38149 3.11668 2.67399 4.21084L4.44149 5.70713L5.02075 6.19752L5.18274 6.33465L5.22538 6.37075L5.23631 6.38L5.23908 6.38234L5.23977 6.38293L5.23995 6.38308L5.72413 5.81127L5.24001 6.38313L5.72413 6.79298L6.20826 6.38312L11.4512 1.94449L10.4829 0.800781Z"
                fill="#FF2D2D"
              />
            </svg>
            <span>Подробнее</span>
          </a>
        </li>

        <li class="activity-item tabs__nav-btn">
          <div class="activity-item__content">
            <span>02</span>
            <p>
              Экспорт <br />
              нефтепродуктов
            </p>
          </div>
          <a href="page-export.html#1" class="btn btn-reset btn--primary">
            <svg
              width="12"
              height="13"
              viewBox="0 0 12 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M10.5005 6.20781L5.74171 10.2366L0.982924 6.20781L0.0146637 7.35152L5.25758 11.7902L5.74171 12.2L6.22584 11.7902L11.4688 7.35152L10.5005 6.20781ZM10.4829 0.800781L5.72412 4.82956L5.40973 4.56341L3.64221 3.0671C2.3507 1.97378 1.03995 0.864219 0.967493 0.803063L0.000926971 1.9482C0.072278 2.00843 1.38149 3.11668 2.67399 4.21084L4.44149 5.70713L5.02075 6.19752L5.18274 6.33465L5.22538 6.37075L5.23631 6.38L5.23908 6.38234L5.23977 6.38293L5.23995 6.38308L5.72413 5.81127L5.24001 6.38313L5.72413 6.79298L6.20826 6.38312L11.4512 1.94449L10.4829 0.800781Z"
                fill="#FF2D2D"
              />
            </svg>
            <span>Подробнее</span>
          </a>
        </li>

        <li class="activity-item tabs__nav-btn">
          <div class="activity-item__content">
            <span>03</span>
            <p>
              Перевалка <br />
              масел
            </p>
          </div>
          <a
            href="page-transshipment-oils.html#2"
            class="btn btn-reset btn--primary"
          >
            <svg
              width="12"
              height="13"
              viewBox="0 0 12 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M10.5005 6.20781L5.74171 10.2366L0.982924 6.20781L0.0146637 7.35152L5.25758 11.7902L5.74171 12.2L6.22584 11.7902L11.4688 7.35152L10.5005 6.20781ZM10.4829 0.800781L5.72412 4.82956L5.40973 4.56341L3.64221 3.0671C2.3507 1.97378 1.03995 0.864219 0.967493 0.803063L0.000926971 1.9482C0.072278 2.00843 1.38149 3.11668 2.67399 4.21084L4.44149 5.70713L5.02075 6.19752L5.18274 6.33465L5.22538 6.37075L5.23631 6.38L5.23908 6.38234L5.23977 6.38293L5.23995 6.38308L5.72413 5.81127L5.24001 6.38313L5.72413 6.79298L6.20826 6.38312L11.4512 1.94449L10.4829 0.800781Z"
                fill="#FF2D2D"
              />
            </svg>
            <span>Подробнее</span>
          </a>
        </li>

        <li class="activity-item tabs__nav-btn">
          <div class="activity-item__content">
            <span>04</span>
            <p>
              Перевалка <br />
              битума
            </p>
          </div>
          <a
            href="page-transshipment-bitumen.html#3"
            class="btn btn-reset btn--primary"
          >
            <svg
              width="12"
              height="13"
              viewBox="0 0 12 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M10.5005 6.20781L5.74171 10.2366L0.982924 6.20781L0.0146637 7.35152L5.25758 11.7902L5.74171 12.2L6.22584 11.7902L11.4688 7.35152L10.5005 6.20781ZM10.4829 0.800781L5.72412 4.82956L5.40973 4.56341L3.64221 3.0671C2.3507 1.97378 1.03995 0.864219 0.967493 0.803063L0.000926971 1.9482C0.072278 2.00843 1.38149 3.11668 2.67399 4.21084L4.44149 5.70713L5.02075 6.19752L5.18274 6.33465L5.22538 6.37075L5.23631 6.38L5.23908 6.38234L5.23977 6.38293L5.23995 6.38308L5.72413 5.81127L5.24001 6.38313L5.72413 6.79298L6.20826 6.38312L11.4512 1.94449L10.4829 0.800781Z"
                fill="#FF2D2D"
              />
            </svg>
            <span>Подробнее</span>
          </a>
        </li>

        <li class="activity-item tabs__nav-btn">
          <div class="activity-item__content">
            <span>05</span>
            <p>
              Транспортно-экспедиторские <br />
              услуги
            </p>
          </div>
          <a
            href="page-forwarding-services.html#4"
            class="btn btn-reset btn--primary"
          >
            <svg
              width="12"
              height="13"
              viewBox="0 0 12 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M10.5005 6.20781L5.74171 10.2366L0.982924 6.20781L0.0146637 7.35152L5.25758 11.7902L5.74171 12.2L6.22584 11.7902L11.4688 7.35152L10.5005 6.20781ZM10.4829 0.800781L5.72412 4.82956L5.40973 4.56341L3.64221 3.0671C2.3507 1.97378 1.03995 0.864219 0.967493 0.803063L0.000926971 1.9482C0.072278 2.00843 1.38149 3.11668 2.67399 4.21084L4.44149 5.70713L5.02075 6.19752L5.18274 6.33465L5.22538 6.37075L5.23631 6.38L5.23908 6.38234L5.23977 6.38293L5.23995 6.38308L5.72413 5.81127L5.24001 6.38313L5.72413 6.79298L6.20826 6.38312L11.4512 1.94449L10.4829 0.800781Z"
                fill="#FF2D2D"
              />
            </svg>
            <span>Подробнее</span>
          </a>
        </li>

        <li class="activity-item tabs__nav-btn">
          <div class="activity-item__content">
            <span>06</span>
            <p>
              Бункеровка <br />
              судов
            </p>
          </div>
          <a href="page-bunkering.html#5" class="btn btn-reset btn--primary">
            <svg
              width="12"
              height="13"
              viewBox="0 0 12 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M10.5005 6.20781L5.74171 10.2366L0.982924 6.20781L0.0146637 7.35152L5.25758 11.7902L5.74171 12.2L6.22584 11.7902L11.4688 7.35152L10.5005 6.20781ZM10.4829 0.800781L5.72412 4.82956L5.40973 4.56341L3.64221 3.0671C2.3507 1.97378 1.03995 0.864219 0.967493 0.803063L0.000926971 1.9482C0.072278 2.00843 1.38149 3.11668 2.67399 4.21084L4.44149 5.70713L5.02075 6.19752L5.18274 6.33465L5.22538 6.37075L5.23631 6.38L5.23908 6.38234L5.23977 6.38293L5.23995 6.38308L5.72413 5.81127L5.24001 6.38313L5.72413 6.79298L6.20826 6.38312L11.4512 1.94449L10.4829 0.800781Z"
                fill="#FF2D2D"
              />
            </svg>
            <span>Подробнее</span>
          </a>
        </li>
      </ul>

      <div class="activity-content tabs__content">
        <div class="activity-image tabs__panel">
          <picture>
            <source srcset="img/tab1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/tab1.png"
              class="image"
              alt="Content"
            />
          </picture>
        </div>

        <div class="activity-image tabs__panel">
          <picture>
            <source srcset="img/tab2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/tab2.png"
              class="image"
              alt="Content"
            />
          </picture>
        </div>

        <div class="activity-image tabs__panel">
          <picture>
            <source srcset="img/tab3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/tab3.png"
              class="image"
              alt="Content"
            />
          </picture>
        </div>

        <div class="activity-image tabs__panel">
          <picture>
            <source srcset="img/tab4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/tab4.png"
              class="image"
              alt="Content"
            />
          </picture>
        </div>

        <div class="activity-image tabs__panel">
          <picture>
            <source srcset="img/tab5.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/tab5.png"
              class="image"
              alt="Content"
            />
          </picture>
        </div>

        <div class="activity-image tabs__panel">
          <picture>
            <source srcset="img/tab6.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/tab6.png"
              class="image"
              alt="Content"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
