<section class="geography main-shadow">
  <div class="geography-container">
    <div class="geography-content">
      <div class="title-page geography-title">
        <h2>География деятельности</h2>
        <span>География деятельности</span>
      </div>

      <div class="geography-images animation-images">
        <picture>
          <source srcset="img/ship-off.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/ship-off.png"
            class="image geography-img--off animation-img--off"
            alt="Image off"
          />
        </picture>

        <picture>
          <source srcset="img/ship-on.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/ship-on.png"
            class="image geography-img--on animation-img--on"
            alt="Image on"
          />
        </picture>
      </div>
    </div>

    <div class="geography-map">
      <div class="geography-marker">
        <div class="geography-marker__item">
          <div></div>
        </div>
      </div>

      <div class="geography-marker">
        <div class="geography-marker__item">
          <div></div>
        </div>
      </div>

      <div class="geography-marker">
        <div class="geography-marker__item">
          <div></div>
        </div>
      </div>

      <div class="geography-marker">
        <div class="geography-marker__item">
          <div></div>
        </div>
      </div>

      <div class="geography-marker">
        <div class="geography-marker__item">
          <div></div>
        </div>
      </div>

      <div class="geography-marker">
        <div class="geography-marker__item">
          <div></div>
        </div>
      </div>

      <div class="geography-marker">
        <div class="geography-marker__item">
          <div></div>
        </div>
      </div>

      <div class="geography-marker">
        <div class="geography-marker__item">
          <div></div>
        </div>
      </div>

      <div class="geography-marker">
        <div class="geography-marker__item">
          <div></div>
        </div>
      </div>

      <div class="geography-marker">
        <div class="geography-marker__item">
          <div></div>
        </div>
      </div>

      <div class="geography-marker">
        <div class="geography-marker__item">
          <div></div>
        </div>
      </div>

      <div class="geography-marker">
        <div class="geography-marker__item">
          <div></div>
        </div>
      </div>

      <div class="geography-marker">
        <div class="geography-marker__item">
          <div></div>
        </div>
      </div>

      <div class="geography-marker">
        <div class="geography-marker__item">
          <div></div>
        </div>
      </div>

      <div class="geography-marker">
        <div class="geography-marker__item">
          <div></div>
        </div>
      </div>

      <div class="geography-marker">
        <div class="geography-marker__item">
          <div></div>
        </div>
      </div>

      <div class="geography-marker">
        <div class="geography-marker__item">
          <div></div>
        </div>
      </div>

      <div class="geography-marker">
        <div class="geography-marker__item">
          <div></div>
        </div>
      </div>

      <div class="geography-marker">
        <div class="geography-marker__item">
          <div></div>
        </div>
      </div>

      <div class="geography-marker">
        <div class="geography-marker__item">
          <div></div>
        </div>
      </div>

      <div class="geography-marker">
        <div class="geography-marker__item">
          <div></div>
        </div>
      </div>

      <div class="geography-marker">
        <div class="geography-marker__item">
          <div></div>
        </div>
      </div>

      <div class="geography-marker">
        <div class="geography-marker__item">
          <div></div>
        </div>
      </div>

      <div class="geography-marker">
        <div class="geography-marker__item">
          <div></div>
        </div>
      </div>

      <div class="geography-marker">
        <div class="geography-marker__item">
          <div></div>
        </div>
      </div>

      <div class="geography-marker">
        <div class="geography-marker__item">
          <div></div>
        </div>
      </div>
      <picture>
        <source srcset="img/geography-map.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/geography-map.png"
          class="image"
          alt="Map"
        />
      </picture>
    </div>
  </div>
</section>
