<header class="header">
  <div class="container header__container">
    <nav class="nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="index.html" class="nav__link">Главная</a>
        </li>
        <li class="nav__item nav__item--sub">
          <a href="#" class="nav__link">
            О компании
            <svg
              width="12"
              height="13"
              viewBox="0 0 12 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M10.5005 6.20781L5.74171 10.2366L0.982924 6.20781L0.0146637 7.35152L5.25758 11.7902L5.74171 12.2L6.22584 11.7902L11.4688 7.35152L10.5005 6.20781ZM10.4829 0.800781L5.72412 4.82956L5.40973 4.56341L3.64221 3.0671C2.3507 1.97378 1.03995 0.864219 0.967493 0.803063L0.000926971 1.9482C0.072278 2.00843 1.38149 3.11668 2.67399 4.21084L4.44149 5.70713L5.02075 6.19752L5.18274 6.33465L5.22538 6.37075L5.23631 6.38L5.23908 6.38234L5.23977 6.38293L5.23995 6.38308L5.72413 5.81127L5.24001 6.38313L5.72413 6.79298L6.20826 6.38312L11.4512 1.94449L10.4829 0.800781Z"
                fill="#FF2D2D"
              />
            </svg>
          </a>
          <div class="sub-menu">
            <ul class="sub-menu__list list-reset">
              <li class="sub-menu__item">
                <a href="page-about.html" class="sub-menu__link nav__link"
                  >О компании</a
                >
              </li>
              <li class="sub-menu__item">
                <a href="page-mission.html" class="sub-menu__link nav__link"
                  >Наша миссия</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li class="nav__item">
          <a href="page-news.html" class="nav__link">пресс-центр</a>
        </li>
        <li class="nav__item nav__item--sub">
          <a href="#" class="nav__link">
            направления деятельности
            <svg
              width="12"
              height="13"
              viewBox="0 0 12 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M10.5005 6.20781L5.74171 10.2366L0.982924 6.20781L0.0146637 7.35152L5.25758 11.7902L5.74171 12.2L6.22584 11.7902L11.4688 7.35152L10.5005 6.20781ZM10.4829 0.800781L5.72412 4.82956L5.40973 4.56341L3.64221 3.0671C2.3507 1.97378 1.03995 0.864219 0.967493 0.803063L0.000926971 1.9482C0.072278 2.00843 1.38149 3.11668 2.67399 4.21084L4.44149 5.70713L5.02075 6.19752L5.18274 6.33465L5.22538 6.37075L5.23631 6.38L5.23908 6.38234L5.23977 6.38293L5.23995 6.38308L5.72413 5.81127L5.24001 6.38313L5.72413 6.79298L6.20826 6.38312L11.4512 1.94449L10.4829 0.800781Z"
                fill="#FF2D2D"
              />
            </svg>
          </a>
          <div class="sub-menu">
            <ul class="sub-menu__list list-reset">
              <li class="sub-menu__item">
                <a href="page-activity.html" class="sub-menu__link nav__link"
                  >Направления деятельности</a
                >
              </li>

              <li class="sub-menu__item">
                <a href="page-supply.html#0" class="sub-menu__link nav__link"
                  >Поставка нефтепродуктов на внутреннем рынке</a
                >
              </li>

              <li class="sub-menu__item">
                <a href="page-export.html#1" class="sub-menu__link nav__link"
                  >Экспорт нефтепродуктов</a
                >
              </li>

              <li class="sub-menu__item">
                <a
                  href="page-transshipment-oils.html#2"
                  class="sub-menu__link nav__link"
                  >Перевалка масел</a
                >
              </li>

              <li class="sub-menu__item">
                <a
                  href="page-transshipment-bitumen.html#3"
                  class="sub-menu__link nav__link"
                  >Перевалка битума</a
                >
              </li>

              <li class="sub-menu__item">
                <a
                  href="page-forwarding-services.html#4"
                  class="sub-menu__link nav__link"
                  >Транспортно-экспедиторские услуги</a
                >
              </li>

              <li class="sub-menu__item">
                <a href="page-bunkering.html#5" class="sub-menu__link nav__link"
                  >Бункеровка судов</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li class="nav__item">
          <a href="page-carrier.html" class="nav__link">карьера</a>
        </li>
        <li class="nav__item">
          <a href="page-contacts.html" class="nav__link">контакты</a>
        </li>
      </ul>
    </nav>

    <div class="header__right" data-da=".menu-content__inner,1200,0">
      <form class="header__search">
        <label class="search-label">
          <input class="input-reset search-input" type="search" />
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_713_203)">
              <path
                d="M19.3346 19.3346L14.0013 14.0013M8.66797 16.668C7.61739 16.668 6.57711 16.461 5.6065 16.059C4.6359 15.657 3.75398 15.0677 3.01111 14.3248C2.26825 13.582 1.67897 12.7 1.27693 11.7294C0.874895 10.7588 0.667969 9.71854 0.667969 8.66797C0.667969 7.61739 0.874895 6.57711 1.27693 5.6065C1.67897 4.6359 2.26825 3.75398 3.01111 3.01111C3.75398 2.26825 4.6359 1.67897 5.6065 1.27693C6.57711 0.874895 7.61739 0.667969 8.66797 0.667969C10.7897 0.667969 12.8245 1.51082 14.3248 3.01111C15.8251 4.51141 16.668 6.54624 16.668 8.66797C16.668 10.7897 15.8251 12.8245 14.3248 14.3248C12.8245 15.8251 10.7897 16.668 8.66797 16.668Z"
                stroke="#DE1829"
              />
            </g>
            <defs>
              <clipPath id="clip0_713_203">
                <rect width="20" height="20" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </label>
      </form>
      <ul class="header__lang lang list-reset" id="top-lang">
        <li class="pll-parent-menu-item lang__item-active lang__item">
          <a class="lang-item lang-item--el" href="#switcher">rus</a>
          <div class="lang-icon">
            <svg
              viewBox="0 0 12 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M10.5005 6.20781L5.74171 10.2366L0.982924 6.20781L0.0146637 7.35152L5.25758 11.7902L5.74171 12.2L6.22584 11.7902L11.4688 7.35152L10.5005 6.20781ZM10.4829 0.800781L5.72412 4.82956L5.40973 4.56341L3.64221 3.0671C2.3507 1.97378 1.03995 0.864219 0.967493 0.803063L0.000926971 1.9482C0.072278 2.00843 1.38149 3.11668 2.67399 4.21084L4.44149 5.70713L5.02075 6.19752L5.18274 6.33465L5.22538 6.37075L5.23631 6.38L5.23908 6.38234L5.23977 6.38293L5.23995 6.38308L5.72413 5.81127L5.24001 6.38313L5.72413 6.79298L6.20826 6.38312L11.4512 1.94449L10.4829 0.800781Z"
                fill="#FF2D2D"
              />
            </svg>
          </div>
          <ul class="lang__sub-menu list-reset">
            <li class="lang-item lang-item-9 lang-item-ge">
              <a lang="ka-GE" hreflang="ka-GE" href="#">rus</a>
            </li>
            <li class="lang-item lang-item-5 lang-item-en lang-item-first">
              <a lang="en-US" hreflang="en-US" href="#">eng</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
