<section class="leaders main-shadow">
  <div class="leaders-container">
    <div class="title-page leaders-title">
      <h2>Лидеры в отрасли</h2>
      <span>Лидеры в отрасли</span>
    </div>

    <div class="leaders-content">
      <div class="swiper leaders-swiper">
        <div class="leaders-items swiper-wrapper">
          <div class="leader-card swiper-slide">
            <?xml version="1.0" standalone="no"?>
            <svg
              class="leader-card__anim"
              id="Frame965"
              viewBox="0 0 486 392"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_685_5315)">
                <circle
                  cx="243"
                  cy="196"
                  r="20.5"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,127.97529602050781"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.497507841343118s"
                    values="0,0,0,0,0,127.97529602050781; 0,0,0,63.987648010253906,63.987648010253906,0; 0,0,31.993824005126953,95.98147201538086,0,0; 0,63.987648010253906,0,63.987648010253906,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.6582277409632142s"
                  ></animate>
                </circle>
                <circle
                  cx="243"
                  cy="196"
                  r="39.5"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,247.7848663330078"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.179776023183929s"
                    values="0,0,0,0,0,247.7848663330078; 0,0,0,123.8924331665039,123.8924331665039,0; 0,0,61.94621658325195,185.83864974975586,0,0; 0,123.8924331665039,0,123.8924331665039,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.536363955945769s"
                  ></animate>
                </circle>
                <circle
                  cx="243"
                  cy="196"
                  r="58.5"
                  stroke="#DE1829"
                  stroke-dasharray="0,0,0,0,0,366.9725646972656"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.414044108546495s"
                    values="0,0,0,0,0,366.9725646972656; 0,0,0,183.4862823486328,183.4862823486328,0; 0,0,91.7431411743164,275.2294235229492,0,0; 0,183.4862823486328,0,183.4862823486328,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="1.0657557583119772s"
                  ></animate>
                </circle>
                <circle
                  cx="243"
                  cy="196"
                  r="79.5"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,498.706298828125"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.464265309800246s"
                    values="0,0,0,0,0,498.706298828125; 0,0,0,249.3531494140625,249.3531494140625,0; 0,0,124.67657470703125,374.02972412109375,0,0; 0,249.3531494140625,0,249.3531494140625,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.6746888650633925s"
                  ></animate>
                </circle>
                <circle
                  cx="243"
                  cy="196"
                  r="102.5"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,643.1974487304688"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.4311661055620952s"
                    values="0,0,0,0,0,643.1974487304688; 0,0,0,321.5987243652344,321.5987243652344,0; 0,0,160.7993621826172,482.39808654785156,0,0; 0,321.5987243652344,0,321.5987243652344,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.3288632828240816s"
                  ></animate>
                </circle>
                <circle
                  cx="243"
                  cy="196"
                  r="131.5"
                  stroke="#DE1829"
                  stroke-dasharray="0,0,0,0,0,825.9049682617188"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.013009501589145s"
                    values="0,0,0,0,0,825.9049682617188; 0,0,0,412.9524841308594,412.9524841308594,0; 0,0,206.4762420654297,619.4287261962891,0,0; 0,412.9524841308594,0,412.9524841308594,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.0695977162590865s"
                  ></animate>
                </circle>
                <circle
                  cx="243"
                  cy="196"
                  r="164.5"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,1033.166259765625"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.039216626083306s"
                    values="0,0,0,0,0,1033.166259765625; 0,0,0,516.5831298828125,516.5831298828125,0; 0,0,258.29156494140625,774.8746948242188,0,0; 0,516.5831298828125,0,516.5831298828125,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.20012451700342207s"
                  ></animate>
                </circle>
                <circle
                  cx="243"
                  cy="196"
                  r="191.5"
                  stroke="#DE1829"
                  stroke-dasharray="0,0,0,0,0,1202.743896484375"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.04451608761862s"
                    values="0,0,0,0,0,1202.743896484375; 0,0,0,601.3719482421875,601.3719482421875,0; 0,0,300.68597412109375,902.0579223632812,0,0; 0,601.3719482421875,0,601.3719482421875,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.5774992868792022s"
                  ></animate>
                </circle>
                <circle
                  cx="243"
                  cy="196"
                  r="236.5"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,1485.3726806640625"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.231103864627457s"
                    values="0,0,0,0,0,1485.3726806640625; 0,0,0,742.6863403320312,742.6863403320312,0; 0,0,371.3431701660156,1114.0295104980469,0,0; 0,742.6863403320312,0,742.6863403320312,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.6368296181540188s"
                  ></animate>
                </circle>
              </g>
              <defs>
                <clipPath id="clip0_685_5315">
                  <rect
                    width="392"
                    height="486"
                    fill="white"
                    transform="matrix(0 -1 1 0 0 392)"
                    stroke-dasharray="0,0,0,0,0,1756"
                  >
                    <animate
                      attributeType="XML"
                      attributeName="stroke-dasharray"
                      repeatCount="indefinite"
                      dur="2.278541256941455s"
                      values="0,0,0,0,0,1756; 0,0,0,878,878,0; 0,0,439,1317,0,0; 0,878,0,878,0,0"
                      keyTimes="0; 0.5; 0.75; 1"
                      begin="0.6955651638824781s"
                    ></animate>
                  </rect>
                </clipPath>
              </defs>
              <setting>
                {"type":"shift","speed":20,"random":0.8,"shift":0.5,"size":1,"rupture":50}
              </setting>
            </svg>
            <h3 class="leader-card__title leader-card__title--on">Опыт</h3>
            <div class="leader-card__content">
              <h3 class="leader-card__title leader-card__title--off">Опыт</h3>
              <p class="leader-card__text">20 лет работы на рынке</p>
            </div>
            <span class="leader-card__num">01</span>
          </div>

          <div class="leader-card swiper-slide">
            <?xml version="1.0" standalone="no"?>
            <svg
              class="leader-card__anim"
              id="Frame965"
              viewBox="0 0 486 392"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_685_5268)">
                <path
                  d="M455.75 391.957L455.75 -263.965"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,655.9219970703125"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.3789153300908645s"
                    values="0,0,0,0,0,655.9219970703125; 0,0,0,327.96099853515625,327.96099853515625,0; 0,0,163.98049926757812,491.9414978027344,0,0; 0,327.96099853515625,0,327.96099853515625,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.31280346870867104s"
                  ></animate>
                </path>
                <path
                  d="M425.75 391.957L425.75 -263.965"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,655.9219970703125"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.3520373470624243s"
                    values="0,0,0,0,0,655.9219970703125; 0,0,0,327.96099853515625,327.96099853515625,0; 0,0,163.98049926757812,491.9414978027344,0,0; 0,327.96099853515625,0,327.96099853515625,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.6892518375229814s"
                  ></animate>
                </path>
                <path
                  d="M395.75 391.957L395.75 -263.965"
                  stroke="#DE1829"
                  stroke-dasharray="0,0,0,0,0,655.9219970703125"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.0028660575122723s"
                    values="0,0,0,0,0,655.9219970703125; 0,0,0,327.96099853515625,327.96099853515625,0; 0,0,163.98049926757812,491.9414978027344,0,0; 0,327.96099853515625,0,327.96099853515625,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.00021856510302720885s"
                  ></animate>
                </path>
                <path
                  d="M365.75 391.957L365.75 -263.965"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,655.9219970703125"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.3594948084269s"
                    values="0,0,0,0,0,655.9219970703125; 0,0,0,327.96099853515625,327.96099853515625,0; 0,0,163.98049926757812,491.9414978027344,0,0; 0,327.96099853515625,0,327.96099853515625,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.41834706506028435s"
                  ></animate>
                </path>
                <path
                  d="M335.75 391.957L335.75 -263.965"
                  stroke="#DE1829"
                  stroke-dasharray="0,0,0,0,0,655.9219970703125"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.3064978806260474s"
                    values="0,0,0,0,0,655.9219970703125; 0,0,0,327.96099853515625,327.96099853515625,0; 0,0,163.98049926757812,491.9414978027344,0,0; 0,327.96099853515625,0,327.96099853515625,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.2598976507846496s"
                  ></animate>
                </path>
                <path
                  d="M305.75 391.957L305.75 -263.965"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,655.9219970703125"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.4307915550765316s"
                    values="0,0,0,0,0,655.9219970703125; 0,0,0,327.96099853515625,327.96099853515625,0; 0,0,163.98049926757812,491.9414978027344,0,0; 0,327.96099853515625,0,327.96099853515625,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="1.1382372935630516s"
                  ></animate>
                </path>
                <path
                  d="M275.75 391.957L275.75 -263.965"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,655.9219970703125"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.210624406968385s"
                    values="0,0,0,0,0,655.9219970703125; 0,0,0,327.96099853515625,327.96099853515625,0; 0,0,163.98049926757812,491.9414978027344,0,0; 0,327.96099853515625,0,327.96099853515625,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.10761463673706416s"
                  ></animate>
                </path>
                <path
                  d="M245.75 391.957L245.75 -263.965"
                  stroke="#DE1829"
                  stroke-dasharray="0,0,0,0,0,655.9219970703125"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.057271520160304s"
                    values="0,0,0,0,0,655.9219970703125; 0,0,0,327.96099853515625,327.96099853515625,0; 0,0,163.98049926757812,491.9414978027344,0,0; 0,327.96099853515625,0,327.96099853515625,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.9435537259430066s"
                  ></animate>
                </path>
                <path
                  d="M215.75 391.957L215.75 -263.965"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,655.9219970703125"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.4177664302706283s"
                    values="0,0,0,0,0,655.9219970703125; 0,0,0,327.96099853515625,327.96099853515625,0; 0,0,163.98049926757812,491.9414978027344,0,0; 0,327.96099853515625,0,327.96099853515625,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.38090818536896365s"
                  ></animate>
                </path>
                <path
                  d="M185.75 391.957L185.75 -263.965"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,655.9219970703125"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.4668307396822167s"
                    values="0,0,0,0,0,655.9219970703125; 0,0,0,327.96099853515625,327.96099853515625,0; 0,0,163.98049926757812,491.9414978027344,0,0; 0,327.96099853515625,0,327.96099853515625,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.9434260680373823s"
                  ></animate>
                </path>
                <path
                  d="M155.75 391.957L155.75 -263.965"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,655.9219970703125"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.2106330702068346s"
                    values="0,0,0,0,0,655.9219970703125; 0,0,0,327.96099853515625,327.96099853515625,0; 0,0,163.98049926757812,491.9414978027344,0,0; 0,327.96099853515625,0,327.96099853515625,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.9903254953173093s"
                  ></animate>
                </path>
                <path
                  d="M125.75 391.957L125.75 -263.965"
                  stroke="#DE1829"
                  stroke-dasharray="0,0,0,0,0,655.9219970703125"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.4720431650324914s"
                    values="0,0,0,0,0,655.9219970703125; 0,0,0,327.96099853515625,327.96099853515625,0; 0,0,163.98049926757812,491.9414978027344,0,0; 0,327.96099853515625,0,327.96099853515625,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.8255141000449306s"
                  ></animate>
                </path>
                <path
                  d="M95.75 391.957L95.75 -263.965"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,655.9219970703125"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.4423727076585804s"
                    values="0,0,0,0,0,655.9219970703125; 0,0,0,327.96099853515625,327.96099853515625,0; 0,0,163.98049926757812,491.9414978027344,0,0; 0,327.96099853515625,0,327.96099853515625,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.39925359073589856s"
                  ></animate>
                </path>
                <path
                  d="M65.75 391.957L65.75 -263.965"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,655.9219970703125"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.1369703612162843s"
                    values="0,0,0,0,0,655.9219970703125; 0,0,0,327.96099853515625,327.96099853515625,0; 0,0,163.98049926757812,491.9414978027344,0,0; 0,327.96099853515625,0,327.96099853515625,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.6036527171641809s"
                  ></animate>
                </path>
                <path
                  d="M35.75 391.957L35.75 -263.965"
                  stroke="#DE1829"
                  stroke-dasharray="0,0,0,0,0,655.9219970703125"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.0917731846301475s"
                    values="0,0,0,0,0,655.9219970703125; 0,0,0,327.96099853515625,327.96099853515625,0; 0,0,163.98049926757812,491.9414978027344,0,0; 0,327.96099853515625,0,327.96099853515625,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.8926040077429644s"
                  ></animate>
                </path>
                <path
                  d="M5.75 391.957L5.75 -263.965"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,655.9219970703125"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.461724133400995s"
                    values="0,0,0,0,0,655.9219970703125; 0,0,0,327.96099853515625,327.96099853515625,0; 0,0,163.98049926757812,491.9414978027344,0,0; 0,327.96099853515625,0,327.96099853515625,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.737141061407498s"
                  ></animate>
                </path>
                <path
                  d="M485.75 391.957L485.75 -263.965"
                  stroke="#DE1829"
                  stroke-dasharray="0,0,0,0,0,655.9219970703125"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.1462876518468494s"
                    values="0,0,0,0,0,655.9219970703125; 0,0,0,327.96099853515625,327.96099853515625,0; 0,0,163.98049926757812,491.9414978027344,0,0; 0,327.96099853515625,0,327.96099853515625,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.10372016882177316s"
                  ></animate>
                </path>
              </g>
              <defs>
                <clipPath id="clip0_685_5268">
                  <rect
                    width="392"
                    height="486"
                    fill="white"
                    transform="matrix(0 -1 1 0 0 392)"
                    stroke-dasharray="0,0,0,0,0,1756"
                  >
                    <animate
                      attributeType="XML"
                      attributeName="stroke-dasharray"
                      repeatCount="indefinite"
                      dur="2.170123692975767s"
                      values="0,0,0,0,0,1756; 0,0,0,878,878,0; 0,0,439,1317,0,0; 0,878,0,878,0,0"
                      keyTimes="0; 0.5; 0.75; 1"
                      begin="0.8093530043869941s"
                    ></animate>
                  </rect>
                </clipPath>
              </defs>
              <setting>
                {"type":"shift","speed":20,"random":0.8,"shift":0.5,"size":1,"rupture":50}
              </setting>
            </svg>

            <h3 class="leader-card__title leader-card__title--on">Рейтинг</h3>
            <div class="leader-card__content">
              <h3 class="leader-card__title leader-card__title--off">
                Рейтинг
              </h3>
              <p class="leader-card__text">
                Топ 10 трейдеров на товарно-сырьевой бирже
              </p>
            </div>
            <span class="leader-card__num">02</span>
          </div>

          <div class="leader-card leader-card--active swiper-slide">
            <svg
              class="leader-card__anim"
              id="Frame965"
              viewBox="0 0 471 394"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_685_5140)">
                <path
                  d="M0 462.5L471 5.99997"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,655.9216918945312"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.3106074929690177s"
                    values="0,0,0,0,0,655.9216918945312; 0,0,0,327.9608459472656,327.9608459472656,0; 0,0,163.9804229736328,491.94126892089844,0,0; 0,327.9608459472656,0,327.9608459472656,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="1.0582723951002129s"
                  ></animate>
                </path>
                <path
                  d="M0 432.5L471 -24"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,655.9216918945312"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.253685935288675s"
                    values="0,0,0,0,0,655.9216918945312; 0,0,0,327.9608459472656,327.9608459472656,0; 0,0,163.9804229736328,491.94126892089844,0,0; 0,327.9608459472656,0,327.9608459472656,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.2608016846995663s"
                  ></animate>
                </path>
                <path
                  d="M0 402.5L471 -54"
                  stroke="#DE1829"
                  stroke-dasharray="0,0,0,0,0,655.9216918945312"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.381020597634928s"
                    values="0,0,0,0,0,655.9216918945312; 0,0,0,327.9608459472656,327.9608459472656,0; 0,0,163.9804229736328,491.94126892089844,0,0; 0,327.9608459472656,0,327.9608459472656,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.5833793887318087s"
                  ></animate>
                </path>
                <path
                  d="M0 372.5L471 -84"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,655.9216918945312"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.4665544433720714s"
                    values="0,0,0,0,0,655.9216918945312; 0,0,0,327.9608459472656,327.9608459472656,0; 0,0,163.9804229736328,491.94126892089844,0,0; 0,327.9608459472656,0,327.9608459472656,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.01351379621090435s"
                  ></animate>
                </path>
                <path
                  d="M0 342.5L471 -114"
                  stroke="#DE1829"
                  stroke-dasharray="0,0,0,0,0,655.9216918945312"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.171534685918611s"
                    values="0,0,0,0,0,655.9216918945312; 0,0,0,327.9608459472656,327.9608459472656,0; 0,0,163.9804229736328,491.94126892089844,0,0; 0,327.9608459472656,0,327.9608459472656,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.1679521176456603s"
                  ></animate>
                </path>
                <path
                  d="M0 312.5L471 -144"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,655.9216918945312"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.18797426509005s"
                    values="0,0,0,0,0,655.9216918945312; 0,0,0,327.9608459472656,327.9608459472656,0; 0,0,163.9804229736328,491.94126892089844,0,0; 0,327.9608459472656,0,327.9608459472656,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.8552687323390772s"
                  ></animate>
                </path>
                <path
                  d="M0 282.5L471 -174"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,655.9216918945312"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.38409411611308s"
                    values="0,0,0,0,0,655.9216918945312; 0,0,0,327.9608459472656,327.9608459472656,0; 0,0,163.9804229736328,491.94126892089844,0,0; 0,327.9608459472656,0,327.9608459472656,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.42962233988361354s"
                  ></animate>
                </path>
                <path
                  d="M0 252.5L471 -204"
                  stroke="#DE1829"
                  stroke-dasharray="0,0,0,0,0,655.9216918945312"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.399745488585669s"
                    values="0,0,0,0,0,655.9216918945312; 0,0,0,327.9608459472656,327.9608459472656,0; 0,0,163.9804229736328,491.94126892089844,0,0; 0,327.9608459472656,0,327.9608459472656,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.7115645116914646s"
                  ></animate>
                </path>
                <path
                  d="M0 222.5L471 -234"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,655.9216918945312"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.0874861564429468s"
                    values="0,0,0,0,0,655.9216918945312; 0,0,0,327.9608459472656,327.9608459472656,0; 0,0,163.9804229736328,491.94126892089844,0,0; 0,327.9608459472656,0,327.9608459472656,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.2052544668212123s"
                  ></animate>
                </path>
                <path
                  d="M0 192.5L471 -264"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,655.9216918945312"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.4548323174805824s"
                    values="0,0,0,0,0,655.9216918945312; 0,0,0,327.9608459472656,327.9608459472656,0; 0,0,163.9804229736328,491.94126892089844,0,0; 0,327.9608459472656,0,327.9608459472656,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.5398865480409127s"
                  ></animate>
                </path>
                <path
                  d="M0 162.5L471 -294"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,655.9216918945312"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.2501979628692825s"
                    values="0,0,0,0,0,655.9216918945312; 0,0,0,327.9608459472656,327.9608459472656,0; 0,0,163.9804229736328,491.94126892089844,0,0; 0,327.9608459472656,0,327.9608459472656,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.9337909721813961s"
                  ></animate>
                </path>
                <path
                  d="M0 132.5L471 -324"
                  stroke="#DE1829"
                  stroke-dasharray="0,0,0,0,0,655.9216918945312"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.141401954144245s"
                    values="0,0,0,0,0,655.9216918945312; 0,0,0,327.9608459472656,327.9608459472656,0; 0,0,163.9804229736328,491.94126892089844,0,0; 0,327.9608459472656,0,327.9608459472656,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.35793231019820076s"
                  ></animate>
                </path>
                <path
                  d="M0 102.5L471 -354"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,655.9216918945312"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.155391665163961s"
                    values="0,0,0,0,0,655.9216918945312; 0,0,0,327.9608459472656,327.9608459472656,0; 0,0,163.9804229736328,491.94126892089844,0,0; 0,327.9608459472656,0,327.9608459472656,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.4311952039795308s"
                  ></animate>
                </path>
                <path
                  d="M0 72.5L471 -384"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,655.9216918945312"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.0491240096274717s"
                    values="0,0,0,0,0,655.9216918945312; 0,0,0,327.9608459472656,327.9608459472656,0; 0,0,163.9804229736328,491.94126892089844,0,0; 0,327.9608459472656,0,327.9608459472656,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.746501220001014s"
                  ></animate>
                </path>
                <path
                  d="M0 42.5L471 -414"
                  stroke="#DE1829"
                  stroke-dasharray="0,0,0,0,0,655.9216918945312"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.002133169482438s"
                    values="0,0,0,0,0,655.9216918945312; 0,0,0,327.9608459472656,327.9608459472656,0; 0,0,163.9804229736328,491.94126892089844,0,0; 0,327.9608459472656,0,327.9608459472656,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.1051091193966898s"
                  ></animate>
                </path>
                <path
                  d="M0 12.5L471 -444"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,655.9216918945312"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.099992580340545s"
                    values="0,0,0,0,0,655.9216918945312; 0,0,0,327.9608459472656,327.9608459472656,0; 0,0,163.9804229736328,491.94126892089844,0,0; 0,327.9608459472656,0,327.9608459472656,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.15984115179293634s"
                  ></animate>
                </path>
                <path
                  d="M0 492.5L471 36"
                  stroke="#DE1829"
                  stroke-dasharray="0,0,0,0,0,655.9216918945312"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.3022562062587086s"
                    values="0,0,0,0,0,655.9216918945312; 0,0,0,327.9608459472656,327.9608459472656,0; 0,0,163.9804229736328,491.94126892089844,0,0; 0,327.9608459472656,0,327.9608459472656,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.36975312447529823s"
                  ></animate>
                </path>
                <path
                  d="M0 522.5L471 66"
                  stroke="white"
                  stroke-dasharray="0,0,0,0,0,655.9216918945312"
                >
                  <animate
                    attributeType="XML"
                    attributeName="stroke-dasharray"
                    repeatCount="indefinite"
                    dur="2.1201654422233625s"
                    values="0,0,0,0,0,655.9216918945312; 0,0,0,327.9608459472656,327.9608459472656,0; 0,0,163.9804229736328,491.94126892089844,0,0; 0,327.9608459472656,0,327.9608459472656,0,0"
                    keyTimes="0; 0.5; 0.75; 1"
                    begin="0.7194991961050134s"
                  ></animate>
                </path>
              </g>
              <defs>
                <clipPath id="clip0_685_5140">
                  <rect
                    width="471"
                    height="394"
                    fill="white"
                    stroke-dasharray="0,0,0,0,0,1730"
                  >
                    <animate
                      attributeType="XML"
                      attributeName="stroke-dasharray"
                      repeatCount="indefinite"
                      dur="2.0382188383575537s"
                      values="0,0,0,0,0,1730; 0,0,0,865,865,0; 0,0,432.5,1297.5,0,0; 0,865,0,865,0,0"
                      keyTimes="0; 0.5; 0.75; 1"
                      begin="0.8718273338320014s"
                    ></animate>
                  </rect>
                </clipPath>
              </defs>
              <setting>
                {"type":"shift","speed":20,"random":0.8,"shift":0.5,"size":1,"rupture":50}
              </setting>
            </svg>
            <h3 class="leader-card__title leader-card__title--on">Рост</h3>
            <div class="leader-card__content">
              <h3 class="leader-card__title leader-card__title--off">Рост</h3>
              <p class="leader-card__text">
                Рост 2 раза рост поставок на внутренний рынок
              </p>
            </div>
            <span class="leader-card__num">03</span>
          </div>
        </div>

        <div class="leaders-swiper__pagination">
          <button class="btn btn-reset btn--small leaders-swiper__prev">
            <svg
              width="12"
              height="13"
              viewBox="0 0 12 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M10.5005 6.20781L5.74171 10.2366L0.982924 6.20781L0.0146637 7.35152L5.25758 11.7902L5.74171 12.2L6.22584 11.7902L11.4688 7.35152L10.5005 6.20781ZM10.4829 0.800781L5.72412 4.82956L5.40973 4.56341L3.64221 3.0671C2.3507 1.97378 1.03995 0.864219 0.967493 0.803063L0.000926971 1.9482C0.072278 2.00843 1.38149 3.11668 2.67399 4.21084L4.44149 5.70713L5.02075 6.19752L5.18274 6.33465L5.22538 6.37075L5.23631 6.38L5.23908 6.38234L5.23977 6.38293L5.23995 6.38308L5.72413 5.81127L5.24001 6.38313L5.72413 6.79298L6.20826 6.38312L11.4512 1.94449L10.4829 0.800781Z"
                fill="#FF2D2D"
              />
            </svg>
          </button>

          <button class="btn btn-reset btn--small leaders-swiper__next">
            <svg
              width="12"
              height="13"
              viewBox="0 0 12 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M10.5005 6.20781L5.74171 10.2366L0.982924 6.20781L0.0146637 7.35152L5.25758 11.7902L5.74171 12.2L6.22584 11.7902L11.4688 7.35152L10.5005 6.20781ZM10.4829 0.800781L5.72412 4.82956L5.40973 4.56341L3.64221 3.0671C2.3507 1.97378 1.03995 0.864219 0.967493 0.803063L0.000926971 1.9482C0.072278 2.00843 1.38149 3.11668 2.67399 4.21084L4.44149 5.70713L5.02075 6.19752L5.18274 6.33465L5.22538 6.37075L5.23631 6.38L5.23908 6.38234L5.23977 6.38293L5.23995 6.38308L5.72413 5.81127L5.24001 6.38313L5.72413 6.79298L6.20826 6.38312L11.4512 1.94449L10.4829 0.800781Z"
                fill="#FF2D2D"
              />
            </svg>
          </button>
        </div>
      </div>
      <div class="leaders-images animation-images">
        <picture>
          <source srcset="img/bunker-off.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/bunker-off.png"
            class="image leaders-img--off animation-img--off"
            alt="Image off"
          />
        </picture>

        <picture>
          <source srcset="img/bunker-on.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/bunker-on.png"
            class="image leaders-img--on animation-img--on"
            alt="Image on"
          />
        </picture>
      </div>
    </div>
  </div>

  <?xml version="1.0" standalone="no"?>
  <svg
    class="leaders-horizontal__anim"
    id="Horizontallight Line"
    viewBox="0 0 1015 211"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_685_5122)">
      <line
        x1="990"
        y1="60.5"
        x2="-1.03706e-07"
        y2="60.5"
        stroke="#2F2F2F"
        stroke-dasharray="0,0,0,0,0,990"
      >
        <animate
          attributeType="XML"
          attributeName="stroke-dasharray"
          repeatCount="indefinite"
          dur="2.296348407901308s"
          values="0,0,0,0,0,990; 0,0,0,495,495,0; 0,0,247.5,742.5,0,0; 0,495,0,495,0,0"
          keyTimes="0; 0.5; 0.75; 1"
          begin="0.25037852123278914s"
        ></animate>
      </line>
      <line
        x1="1015"
        y1="210.5"
        x2="26"
        y2="210.5"
        stroke="#2F2F2F"
        stroke-dasharray="0,0,0,0,0,989"
      >
        <animate
          attributeType="XML"
          attributeName="stroke-dasharray"
          repeatCount="indefinite"
          dur="2.0717285691493017s"
          values="0,0,0,0,0,989; 0,0,0,494.5,494.5,0; 0,0,247.25,741.75,0,0; 0,494.5,0,494.5,0,0"
          keyTimes="0; 0.5; 0.75; 1"
          begin="0.3368401701863546s"
        ></animate>
      </line>
      <line
        x1="990"
        y1="40.5"
        x2="-1.03706e-07"
        y2="40.5"
        stroke="#2F2F2F"
        stroke-dasharray="0,0,0,0,0,990"
      >
        <animate
          attributeType="XML"
          attributeName="stroke-dasharray"
          repeatCount="indefinite"
          dur="2.441603202630094s"
          values="0,0,0,0,0,990; 0,0,0,495,495,0; 0,0,247.5,742.5,0,0; 0,495,0,495,0,0"
          keyTimes="0; 0.5; 0.75; 1"
          begin="1.060186247921931s"
        ></animate>
      </line>
      <line
        x1="997"
        y1="190.5"
        x2="7"
        y2="190.5"
        stroke="#2F2F2F"
        stroke-dasharray="0,0,0,0,0,990"
      >
        <animate
          attributeType="XML"
          attributeName="stroke-dasharray"
          repeatCount="indefinite"
          dur="2.095794377771985s"
          values="0,0,0,0,0,990; 0,0,0,495,495,0; 0,0,247.5,742.5,0,0; 0,495,0,495,0,0"
          keyTimes="0; 0.5; 0.75; 1"
          begin="0.7385932039163069s"
        ></animate>
      </line>
      <line
        x1="997"
        y1="20.5"
        x2="7"
        y2="20.5"
        stroke="#2F2F2F"
        stroke-dasharray="0,0,0,0,0,990"
      >
        <animate
          attributeType="XML"
          attributeName="stroke-dasharray"
          repeatCount="indefinite"
          dur="2.091138541170925s"
          values="0,0,0,0,0,990; 0,0,0,495,495,0; 0,0,247.5,742.5,0,0; 0,495,0,495,0,0"
          keyTimes="0; 0.5; 0.75; 1"
          begin="1.029503294626266s"
        ></animate>
      </line>
      <line
        x1="990"
        y1="170.5"
        x2="-1.03706e-07"
        y2="170.5"
        stroke="#2F2F2F"
        stroke-dasharray="0,0,0,0,0,990"
      >
        <animate
          attributeType="XML"
          attributeName="stroke-dasharray"
          repeatCount="indefinite"
          dur="2.1466402608695083s"
          values="0,0,0,0,0,990; 0,0,0,495,495,0; 0,0,247.5,742.5,0,0; 0,495,0,495,0,0"
          keyTimes="0; 0.5; 0.75; 1"
          begin="0.3118450971661677s"
        ></animate>
      </line>
      <line
        x1="1015"
        y1="0.5"
        x2="26"
        y2="0.499963"
        stroke="#2F2F2F"
        stroke-dasharray="0,0,0,0,0,989"
      >
        <animate
          attributeType="XML"
          attributeName="stroke-dasharray"
          repeatCount="indefinite"
          dur="2.3421238536458944s"
          values="0,0,0,0,0,989; 0,0,0,494.5,494.5,0; 0,0,247.25,741.75,0,0; 0,494.5,0,494.5,0,0"
          keyTimes="0; 0.5; 0.75; 1"
          begin="0.2033413374607642s"
        ></animate>
      </line>
      <line
        x1="990"
        y1="150.5"
        x2="-1.03706e-07"
        y2="150.5"
        stroke="#2F2F2F"
        stroke-dasharray="0,0,0,0,0,990"
      >
        <animate
          attributeType="XML"
          attributeName="stroke-dasharray"
          repeatCount="indefinite"
          dur="2.222853099497151s"
          values="0,0,0,0,0,990; 0,0,0,495,495,0; 0,0,247.5,742.5,0,0; 0,495,0,495,0,0"
          keyTimes="0; 0.5; 0.75; 1"
          begin="0.04937135063244271s"
        ></animate>
      </line>
    </g>
    <defs>
      <clipPath id="clip0_685_5122">
        <rect
          width="211"
          height="1015"
          fill="white"
          transform="translate(1015) rotate(90)"
          stroke-dasharray="0,0,0,0,0,2452"
        >
          <animate
            attributeType="XML"
            attributeName="stroke-dasharray"
            repeatCount="indefinite"
            dur="2.2759530135615997s"
            values="0,0,0,0,0,2452; 0,0,0,1226,1226,0; 0,0,613,1839,0,0; 0,1226,0,1226,0,0"
            keyTimes="0; 0.5; 0.75; 1"
            begin="0.9723084683863482s"
          ></animate>
        </rect>
      </clipPath>
    </defs>
    <setting>
      {"type":"shift","speed":20,"random":0.8,"shift":0.5,"size":1,"rupture":50}
    </setting>
  </svg>
</section>
