<div class="menu">
  <aside class="menu-sidebar" data-scroll-header>
    <a href="index.html" class="menu-logo">
      <picture>
        <source srcset="img/menu-logo.webp" type="image/webp" />
        <img loading="lazy" src="img/menu-logo.png" class="image" alt="Logo" />
      </picture>
    </a>

    <div class="menu-burger">
      <button
        class="burger"
        aria-label="Открыть меню"
        aria-expanded="false"
        data-burger
      >
        <span class="burger__line"></span>
      </button>
    </div>

    <social class="social">
      <ul class="social__list list-reset">
        <li class="social__item">
          <a href="#" class="social__link">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link">
            <svg>
              <use xlink:href="img/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link">
            <svg>
              <use xlink:href="img/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link">
            <svg>
              <use xlink:href="img/sprite.svg#youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </social>
  </aside>

  <div class="menu-content" data-menu>
    <div class="menu-content__inner">
      <div class="menu-content__left">
        <h3 class="menu-content__title">Меню</h3>
        <nav class="nav menu-nav">
          <ul class="nav__list list-reset">
            <li class="nav__item">
              <a href="index.html" class="nav__link">Главная</a>
            </li>
            <li class="nav__item nav__item--active">
              <a href="#" class="nav__link">
                О компании
                <svg
                  width="12"
                  height="13"
                  viewBox="0 0 12 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M10.5005 6.20781L5.74171 10.2366L0.982924 6.20781L0.0146637 7.35152L5.25758 11.7902L5.74171 12.2L6.22584 11.7902L11.4688 7.35152L10.5005 6.20781ZM10.4829 0.800781L5.72412 4.82956L5.40973 4.56341L3.64221 3.0671C2.3507 1.97378 1.03995 0.864219 0.967493 0.803063L0.000926971 1.9482C0.072278 2.00843 1.38149 3.11668 2.67399 4.21084L4.44149 5.70713L5.02075 6.19752L5.18274 6.33465L5.22538 6.37075L5.23631 6.38L5.23908 6.38234L5.23977 6.38293L5.23995 6.38308L5.72413 5.81127L5.24001 6.38313L5.72413 6.79298L6.20826 6.38312L11.4512 1.94449L10.4829 0.800781Z"
                    fill="#FF2D2D"
                  />
                </svg>
              </a>
              <div class="sub-menu">
                <ul class="sub-menu__list list-reset">
                  <li class="sub-menu__item">
                    <a href="page-about.html" class="sub-menu__link nav__link"
                      >О компании</a
                    >
                  </li>
                  <li class="sub-menu__item">
                    <a href="page-mission.html" class="sub-menu__link nav__link"
                      >Наша миссия</a
                    >
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav__item">
              <a href="page-news.html" class="nav__link">пресс-центр</a>
            </li>
            <li class="nav__item nav__item--active">
              <a href="#" class="nav__link">
                Направления деятельности
                <svg
                  width="12"
                  height="13"
                  viewBox="0 0 12 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M10.5005 6.20781L5.74171 10.2366L0.982924 6.20781L0.0146637 7.35152L5.25758 11.7902L5.74171 12.2L6.22584 11.7902L11.4688 7.35152L10.5005 6.20781ZM10.4829 0.800781L5.72412 4.82956L5.40973 4.56341L3.64221 3.0671C2.3507 1.97378 1.03995 0.864219 0.967493 0.803063L0.000926971 1.9482C0.072278 2.00843 1.38149 3.11668 2.67399 4.21084L4.44149 5.70713L5.02075 6.19752L5.18274 6.33465L5.22538 6.37075L5.23631 6.38L5.23908 6.38234L5.23977 6.38293L5.23995 6.38308L5.72413 5.81127L5.24001 6.38313L5.72413 6.79298L6.20826 6.38312L11.4512 1.94449L10.4829 0.800781Z"
                    fill="#FF2D2D"
                  />
                </svg>
              </a>
              <div class="sub-menu">
                <ul class="sub-menu__list list-reset">
                  <li class="sub-menu__item">
                    <a
                      href="page-activity.html"
                      class="sub-menu__link nav__link"
                      >Направления деятельности</a
                    >
                  </li>

                  <li class="sub-menu__item">
                    <a
                      href="page-supply.html#0"
                      class="sub-menu__link nav__link"
                      >Поставка нефтепродуктов на внутреннем рынке</a
                    >
                  </li>

                  <li class="sub-menu__item">
                    <a
                      href="page-export.html#1"
                      class="sub-menu__link nav__link"
                      >Экспорт нефтепродуктов</a
                    >
                  </li>

                  <li class="sub-menu__item">
                    <a
                      href="page-transshipment-oils.html#2"
                      class="sub-menu__link nav__link"
                      >Перевалка масел</a
                    >
                  </li>

                  <li class="sub-menu__item">
                    <a
                      href="page-transshipment-bitumen.html#3"
                      class="sub-menu__link nav__link"
                      >Перевалка битума</a
                    >
                  </li>

                  <li class="sub-menu__item">
                    <a
                      href="page-forwarding-services.html#4"
                      class="sub-menu__link nav__link"
                      >Транспортно-экспедиторские услуги</a
                    >
                  </li>

                  <li class="sub-menu__item">
                    <a
                      href="page-bunkering.html#5"
                      class="sub-menu__link nav__link"
                      >Бункеровка судов</a
                    >
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav__item">
              <a href="page-carrier.html" class="nav__link">карьера</a>
            </li>
            <li class="nav__item">
              <a href="page-contacts.html" class="nav__link">контакты</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="menu-content__right">
        <div class="feedback">
          <div class="feedback__container">
            <div class="feedback-form container">
              <h2 class="title-page feedback-title">Мы всегда на связи</h2>
              <p class="text-page feedback-text">
                Оставьте свои данные и мы свяжемся с вами любым удобным для вас
                способом
              </p>
              <form class="form">
                <label class="form__label">
                  <svg>
                    <use xlink:href="img/sprite.svg#user"></use>
                  </svg>
                  <input
                    class="input-reset form__input form__input--name"
                    placeholder="Ваше имя"
                  />
                </label>
                <label class="form__label">
                  <svg>
                    <use xlink:href="img/sprite.svg#phone"></use>
                  </svg>
                  <input
                    class="input-reset form__input form__input--phone"
                    placeholder="Ваш номер"
                  />
                </label>
                <label class="form__label">
                  <svg>
                    <use xlink:href="img/sprite.svg#mail"></use>
                  </svg>
                  <input
                    class="input-reset form__input form__input--mail"
                    placeholder="E-mail"
                  />
                </label>
                <button class="form__btn btn btn-reset btn--primary">
                  <svg
                    width="12"
                    height="13"
                    viewBox="0 0 12 13"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M10.5005 6.20781L5.74171 10.2366L0.982924 6.20781L0.0146637 7.35152L5.25758 11.7902L5.74171 12.2L6.22584 11.7902L11.4688 7.35152L10.5005 6.20781ZM10.4829 0.800781L5.72412 4.82956L5.40973 4.56341L3.64221 3.0671C2.3507 1.97378 1.03995 0.864219 0.967493 0.803063L0.000926971 1.9482C0.072278 2.00843 1.38149 3.11668 2.67399 4.21084L4.44149 5.70713L5.02075 6.19752L5.18274 6.33465L5.22538 6.37075L5.23631 6.38L5.23908 6.38234L5.23977 6.38293L5.23995 6.38308L5.72413 5.81127L5.24001 6.38313L5.72413 6.79298L6.20826 6.38312L11.4512 1.94449L10.4829 0.800781Z"
                      fill="#FF2D2D"
                    />
                  </svg>
                  <span>Отправить</span>
                </button>
                <label class="custom-checkbox">
                  <input
                    checked
                    type="checkbox"
                    class="custom-checkbox__field"
                    required
                  />

                  <p class="custom-checkbox__content">
                    Нажимая “отправить” я даю согласие на обработку <br />
                    <a href="#">персональных данных</a>
                  </p>
                </label>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
