<section class="news-single single">
  <div class="container single-container">
    <div class="single-top">
      <div class="single-top__date">
        <svg>
          <use xlink:href="img/sprite.svg#date"></use>
        </svg>
        <span>22.02.2022</span>
      </div>
      <h1 class="single-top__title">
        Компания КТТ первой в России отправила 5-тысячетонный танкер с партией
        битума
      </h1>
      <p class="single-top__text">
        Компания имеет многолетний опыт сотрудничества с ведущими
        нефтеперевалочными терминалами на территории России, нефтебазами
        Центрального региона, а также портами Балтийского и Азовского бассейна.
        Кроме того, за время работы компания КТТ выстроила долгосрочные
        партнерские взаимоотношения с большинством нефтяных компаний.
      </p>

      <div class="single-top__img">
        <picture>
          <source srcset="img/single.webp" type="image/webp" />
          <img loading="lazy" src="img/single.png" class="image" alt="Single" />
        </picture>
      </div>
    </div>

    <div class="single-bottom">
      <h2 class="single-bottom__title">Заголовок для статьи</h2>

      <div class="single-bottom__content">
        <p>
          Компания имеет <span>многолетний опыт</span> сотрудничества с ведущими
          нефтеперевалочными терминалами на территории России, нефтебазами
          Центрального региона, а также портами Балтийского и Азовского
          бассейна. Кроме того, за время работы
          <span>компания КТТ выстроила</span>
          долгосрочные партнерские взаимоотношения с большинством
          вертикально-интегрированных нефтяных компаний России и крупными
          транспортными компаниями.
          <span>Совокупность данных факторов</span> позволяет поддерживать
          <span>высочайший уровень</span> качества поставляемой продукции,
          предоставлять максимально выверенные логистические решения и
          обеспечивать конкурентный уровень стоимости услуг.
        </p>

        <p>
          С 2017 года <span>компания</span> успешно занимается продажами и
          поставкой бункерного топлива в
          <span>«Большом порту Санкт-Петербурга»</span>. Клиенты КТТ –
          судоходные компании со всего мира.
          <a href="#">Команда ООО «КТТ»</a> объединила в своем составе
          профессионалов сферы трейдинга и поставок нефтепродуктов,
          <span>средний опыт</span> работы сотрудников в отрасли – более 15 лет.
        </p>

        <p>
          Компания имеет многолетний опыт сотрудничества с ведущими
          нефтеперевалочными терминалами на территории России, нефтебазами
          Центрального региона, а также портами Балтийского и Азовского
          бассейна. Кроме того, за время работы
          <a href="#">компания КТТ</a> выстроила долгосрочные
          <span>партнерские взаимоотношения</span> с большинством
          вертикально-интегрированных нефтяных компаний России и крупными
          транспортными компаниями. Совокупность данных факторов позволяет
          <span>поддерживать высочайший</span> уровень качества поставляемой
          продукции, предоставлять максимально выверенные логистические решения
          и обеспечивать конкурентный <span>уровень стоимости услуг</span>.
        </p>

        <div class="swiper single-swiper">
          <div class="swiper-wrapper single-wrapper">
            <div class="swiper-slide single-slide">
              <picture>
                <source srcset="img/single2.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/single2.png"
                  class="image"
                  alt="Single"
                />
              </picture>
            </div>

            <div class="swiper-slide single-slide">
              <picture>
                <source srcset="img/single2.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/single2.png"
                  class="image"
                  alt="Single"
                />
              </picture>
            </div>

            <div class="swiper-slide single-slide">
              <picture>
                <source srcset="img/single2.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/single2.png"
                  class="image"
                  alt="Single"
                />
              </picture>
            </div>

            <div class="swiper-slide single-slide">
              <picture>
                <source srcset="img/single2.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/single2.png"
                  class="image"
                  alt="Single"
                />
              </picture>
            </div>
          </div>

          <div class="single-pagination">
            <button class="btn btn-reset btn--small single-prev">
              <svg
                width="12"
                height="13"
                viewBox="0 0 12 13"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M10.5005 6.20781L5.74171 10.2366L0.982924 6.20781L0.0146637 7.35152L5.25758 11.7902L5.74171 12.2L6.22584 11.7902L11.4688 7.35152L10.5005 6.20781ZM10.4829 0.800781L5.72412 4.82956L5.40973 4.56341L3.64221 3.0671C2.3507 1.97378 1.03995 0.864219 0.967493 0.803063L0.000926971 1.9482C0.072278 2.00843 1.38149 3.11668 2.67399 4.21084L4.44149 5.70713L5.02075 6.19752L5.18274 6.33465L5.22538 6.37075L5.23631 6.38L5.23908 6.38234L5.23977 6.38293L5.23995 6.38308L5.72413 5.81127L5.24001 6.38313L5.72413 6.79298L6.20826 6.38312L11.4512 1.94449L10.4829 0.800781Z"
                  fill="#FF2D2D"
                />
              </svg>
            </button>

            <button class="btn btn-reset btn--small single-next">
              <svg
                width="12"
                height="13"
                viewBox="0 0 12 13"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M10.5005 6.20781L5.74171 10.2366L0.982924 6.20781L0.0146637 7.35152L5.25758 11.7902L5.74171 12.2L6.22584 11.7902L11.4688 7.35152L10.5005 6.20781ZM10.4829 0.800781L5.72412 4.82956L5.40973 4.56341L3.64221 3.0671C2.3507 1.97378 1.03995 0.864219 0.967493 0.803063L0.000926971 1.9482C0.072278 2.00843 1.38149 3.11668 2.67399 4.21084L4.44149 5.70713L5.02075 6.19752L5.18274 6.33465L5.22538 6.37075L5.23631 6.38L5.23908 6.38234L5.23977 6.38293L5.23995 6.38308L5.72413 5.81127L5.24001 6.38313L5.72413 6.79298L6.20826 6.38312L11.4512 1.94449L10.4829 0.800781Z"
                  fill="#FF2D2D"
                />
              </svg>
            </button>
          </div>
        </div>

        <p>
          С 2017 года компания успешно занимается продажами и поставкой
          бункерного топлива в«Большом порту Санкт-Петербурга». Клиенты КТТ –
          судоходные компании со всего мира. Команда ООО «КТТ» объединила в
          своем составе профессионалов сферы трейдинга и поставок
          нефтепродуктов, средний опыт работы сотрудников в отрасли – более 15
          лет.
        </p>

        <ul class="list-reset">
          <li>Компания имеет многолетний опыт сотрудничества</li>
          <li>
            Осенью 2021 года компания КТТ осуществила поставку нескольких партий
          </li>
          <li>Компания имеет многолетний опыт сотрудничества</li>
          <li>Компания имеет многолетний опыт сотрудничества</li>
        </ul>
      </div>
    </div>
  </div>
</section>
