<section class="strategy" id="strategy">
  <div class="strategy-container container">
    <div class="title-page strategy-title">
      <h2>Стратегия</h2>
      <span>Стратегия</span>
    </div>

    <div class="strategy-text">
      <p class="text-page">
        Укрепление достигнутых позиций путем совершенствования качества
        предоставляемых услуг, расширения компетенций команды и развития
        инфраструктуры с целью поставки нефтепродуктов по всему миру – главные
        приоритеты компании КТТ.
      </p>

      <p class="text-page">
        Наша миссия – обеспечивать высококлассное качество оказываемых услуг в
        сфере продаж нефтепродуктов и надежные и современные логистические
        решения для партнеров в любой географической точке. Укрепление
        достигнутых позиций путем совершенствования качества предоставляемых
      </p>
    </div>

    <div class="strategy-img">
      <picture>
        <source srcset="img/strategy.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/strategy.png"
          class="image"
          alt="Strategy"
        />
      </picture>
    </div>
  </div>
</section>
