// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family-GillSans: "GillSans", sans-serif;
  --font-family-Jost: "Jost", sans-serif;
  --font-family-Inter: "Inter", sans-serif;
  --font-family-Europe: "Europe", sans-serif;
  --font-family-Akzidenz: "AkzidenzGroteskPro", sans-serif;

  // colors
  --light-color: #ffffff;
  --black-color: #111111;
  --gray-color: #3a3a3e;
  --red-color: #de1829;
  --bg-color: #181818;
}
